@use '../../../scss/variables.scss' as v;

#logon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    margin: auto;
    background-color: #5A95E2;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    border-left-width: 0.5px;
}

#logon .logo {
    width: 100px;
    height: 100px;
    background-image: url('../../../../assets/images/sigame.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 10px;
}

.logonHost {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 0 0;
    overflow: hidden;
}

.loginUser {
    margin: 10px 10px 5px 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userArea {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.loginOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userArea .languageArea {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px 0 0 0;
}

.userArea .sexArea {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px 0 0 0;
}

.main header {
    display: flex;
    flex-direction: row;
    background-color: v.$header-background-color;
    height: 45px;
    overflow: hidden;
}

.main header .right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

    .main .header {
        font-size: 18px;
        text-align: left;
        padding-left: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 12px;
        vertical-align: middle;
    }

    .main h1 {
        font-size: 20px;
        color: white;
        height: 45px;
        display: inline-block;
        margin: 0 0 0 10px;
    }

    .main p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.loginBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    overflow: hidden;
}

.loginBody .avatarArea {
    height: 200px;
    width: 200px;
    margin-top: 10px;
}

.loginBody .emptyAvatar, .loginBody .avatarView {
    height: 180px;
    width: 180px;
}

.loginBody .sexArea {
    margin-top: 20px;
}

.login_name {
    display: block;
    font-size: 20px;
    margin-top: 40px;
    width: 100%;
    max-width: 100;
    border: 0;
    padding: 6px 5px;
}

.standard.enter {
    height: 45px;
    padding: 5px 40px;
    width: 100%;
    margin-top: 15px;
    border-radius: 4px;
    font-size: 20px;
}

.clientLink {
    display: block;
    margin-bottom: 5px;
}

.howToPlay {
    width: 45px;
}

@media screen and (max-height: 400px) {
    #logon .logo, .siAdHost {
        display: none;
    }
}

@media screen and (min-width: 470px) and (min-height: 600px) {
    .main {
        width: 470px;
        height: 500px;
        border: 1px solid #111111;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
    }

    #logonButtons {
        left: initial;
        width: auto;
        display: flex;
    }

    #howToPlay, .enter {
        width: auto;
    }
}
