.objectView {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px;
}

.objectHeader, .objectHint {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}

.objectHeader {
    align-items: end;
    font-size: 35px;
}

.objectHint {
    align-items: start;
    font-size: 20px;
    text-align: center;
}

.objectHint.empty {
    flex: 0;
}

.objectName {
    flex: 2.5;
    overflow: hidden;
}

@media screen and (min-width: 1100px) {
    .objectView {
        padding: 20px;
    }

    .objectHeader {
        font-size: 45px;
    }

    .objectHint {
        font-size: 23px;
    }
}

@media screen and (min-width: 1600px) {
    .objectView {
        padding: 30px;
    }

    .objectHeader {
        font-size: 65px;
    }

    .objectHint {
        font-size: 45px;
    }
}