.gameHint {
	height: 100%;
	width: 100%;
	background-color: #ffffff77;
	font-family: Standard;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #000;
	text-align: center;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}