{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"airbnb-typescript"
	],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"rules": {
		"linebreak-style": "off",
		"no-tabs": "off",
		"@typescript-eslint/indent": ["error", "tab"],
		"react/jsx-indent": "off",
		"@typescript-eslint/comma-dangle": "off",		
		"max-len": ["error", { "code": 150 }],
		"unicode-bom": "off",
		"import/no-named-as-default": "off",
		"react/destructuring-assignment": "off",
		"jsx-a11y/no-noninteractive-element-interactions": "off",
		"no-bitwise": "off",
		"no-plusplus": "warn",
		"no-restricted-globals": "warn",
		"@typescript-eslint/no-shadow": "warn",
		"@typescript-eslint/no-use-before-define": "warn",
		"@typescript-eslint/ban-types": "warn",
		"no-multi-spaces": "warn",
		"implicit-arrow-linebreak": "warn",
		"arrow-parens": "off",
		"import/order": "warn",
		"no-nested-ternary": "warn",
		"default-case": "warn",
		"import/prefer-default-export": "warn",
		"import/no-cycle": "warn",
		"object-curly-spacing": "warn",
		"object-curly-newline": "warn",
		"@typescript-eslint/no-unused-vars": "warn",
		"padded-blocks": "warn",
		"prefer-destructuring": "warn",
		"no-case-declarations": "warn",
		"react/jsx-indent-props": "off",
		"react/jsx-first-prop-new-line": "warn",
		"react/jsx-closing-bracket-location": "warn",
		"react/jsx-max-props-per-line": "warn",
		"react/jsx-one-expression-per-line": "warn",
		"function-paren-newline": "warn",
		"react/jsx-wrap-multilines": "warn",
		"react/jsx-closing-tag-location": "warn",
		"react/jsx-curly-newline": "warn",
		"jsx-a11y/alt-text": "warn",
		"operator-linebreak": "warn",
		"jsx-a11y/click-events-have-key-events": "off",
		"react/button-has-type": "warn",
		"react/prefer-stateless-function": "warn",
		"@typescript-eslint/lines-between-class-members": "warn",
		"no-mixed-operators": "warn",
		"react/no-array-index-key": "warn",
		"@typescript-eslint/semi": "warn",
		"semi-style": "warn",
		"react/require-default-props": "warn",
		"class-methods-use-this": "warn",
		"jsx-a11y/media-has-caption": "warn",
		"jsx-a11y/no-autofocus": "off",
		"@typescript-eslint/no-useless-constructor": "warn",
		"react/sort-comp": "warn",
		"react/static-property-placement": "warn",
		"@typescript-eslint/no-inferrable-types": "warn",
		"no-confusing-arrow": "warn",
		"react/jsx-fragments": "warn",
		"no-param-reassign": "warn",
		"arrow-body-style": "warn",
		"no-await-in-loop": "warn",
		"@typescript-eslint/no-empty-interface": "warn",
		"react/self-closing-comp": "warn",
		"@typescript-eslint/no-empty-function": "warn",
		"jsx-a11y/no-static-element-interactions": "warn",
		"react/jsx-props-no-multi-spaces": "warn",
		"react/no-did-update-set-state": "warn"
	}
}
