{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"import",
		"jsx-a11y",
		"react"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"airbnb-typescript"
	],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"rules": {
		"linebreak-style": "off",
		"no-tabs": "off",
		"@typescript-eslint/indent": "off",
		"react/jsx-indent": "off",
		"@typescript-eslint/comma-dangle": "off",		
		"max-len": ["error", { "code": 150 }],
		"unicode-bom": "off",
		"import/no-named-as-default": "off",
		"react/destructuring-assignment": "off",
		"jsx-a11y/no-noninteractive-element-interactions": "off",
		"no-bitwise": "off",
		"no-plusplus": "warn",
		"no-restricted-globals": "warn",
		"@typescript-eslint/no-shadow": "warn",
		"@typescript-eslint/no-use-before-define": "warn",
		"@typescript-eslint/ban-types": "warn",
		"no-multi-spaces": "warn",
		"implicit-arrow-linebreak": "warn",
		"arrow-parens": "off",
		"no-nested-ternary": "warn",
		"default-case": "warn",
		"object-curly-spacing": "off",
		"object-curly-newline": "warn",
		"@typescript-eslint/no-unused-vars": "warn",
		"padded-blocks": ["warn", { "blocks": "never" }],
		"prefer-destructuring": "warn",
		"no-case-declarations": "warn",
		"react/jsx-indent-props": "off",
		"function-paren-newline": "warn",
		"operator-linebreak": "warn",
		"jsx-a11y/click-events-have-key-events": "off",
		"@typescript-eslint/lines-between-class-members": "warn",
		"no-mixed-operators": "warn",
		"@typescript-eslint/semi": "warn",
		"semi-style": "warn",
		"class-methods-use-this": "warn",
		"jsx-a11y/no-autofocus": "off",
		"@typescript-eslint/no-useless-constructor": "warn",
		"@typescript-eslint/no-inferrable-types": "warn",
		"no-confusing-arrow": "off",
		"no-param-reassign": "warn",
		"arrow-body-style": "warn",
		"no-await-in-loop": "warn",
		"@typescript-eslint/no-empty-interface": "warn",
		"@typescript-eslint/no-empty-function": "warn"
	}
}
