.enterPin {
	display: flex;
	flex-flow: column;
	background-color: #000451;
}

.enterPinBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: white;

	.pinBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.enterPinBody .field-header {
	display: inline-block;
	margin-top: 10px;
}

.enterPinBody input[type=text],
.enterPinBody input[type=number] {
	margin: 10px;
	font-size: 20px;
	background: #181B64;
	color: white;
	border: 1px solid #347DFF;
	border-radius: 5px;
	padding: 3px 6px;
	width: 240px;
}

.pinJoin {
	padding: 7px 20px;
	margin: 15px 0;
}

.authInputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.authInputContainer .nameInput--auth {
	text-align: center;
}

@media screen and (min-width: 800px) {
	.enterPin {
		top: 100px;
		bottom: 100px;
		left: 100px;
		right: 100px;
		border-radius: 12px;
	}
}