#table .scaleText {
	transform: scale(0);
	transition: transform .2s linear;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin: 5px;
	padding: 5px;
}

@media screen and (min-width: 1100px) {
    #table .scaleText {
		padding: 15px;
	}
}

@media screen and (min-width: 1600px) {
    #table .scaleText {
		padding: 30px;
	}
}