.answerValidationDialog {
    background-color: #5A95E2;
    z-index: 5;
}

.answerValidationDialog .validationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 13px;
    min-width: 0;
}

.validationHeader p {
    overflow: hidden;
    display: inline-block !important;
    max-height: 120px;
}

.answerValidationDialog p {
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.answerValidationDialog .answersPanel {
    margin: 13px;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.answerValidationDialog .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2px;
    flex: 1;
}

.answerValidationDialog .answers p {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    height: 40px;
}

.answerValidationDialog .answers ul {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    width: 100%;
    flex: 1;
}

.answerValidationDialog .answers li {
    vertical-align: middle;
    font-size: larger;
    text-align: center;
}

.answerValidationDialog .answers li span {
    line-height: 40px;
    vertical-align: middle;
}

.answerValidationDialog .buttonsPanel {
    flex: 0 0 45px;
}

.answerValidationDialog .buttonsPanel .buttonsArea {
    position: relative;
    margin: 0 2px;
}

.answerValidationDialog .validationButton {
    width: calc(100% - 4px);
    height: 100%;
}

.answerValidationDialog .acceptButton {
    background: linear-gradient(180deg, #27CB5C 14.29%, #0f8735 100%);
}

.answerValidationDialog .acceptButton:hover {
    background: linear-gradient(180deg, #97c7a6 14.29%, #54996a 100%);
}

.answerValidationDialog .rejectButton {
    background: #4CAF50;
    background: linear-gradient(180deg, #D2352B 14.29%, #a9160b 100%);
}

.answerValidationDialog .rejectButton:hover {
    background: linear-gradient(180deg, #d0726c 14.29%, #a8372f 100%);
}

.answerValidationDialog .extraButton {
    position: absolute;
    font-family: 'Arial';
    font-size: 14px;
    background-color: transparent;
    width: 45px;
    height: 100%;
}

.answerValidationDialog .extraButton:hover {
    background-color: #98B9FF;
}

.answerValidationDialog .extraButton.halfPrice {
    left: 0;
}

.answerValidationDialog .extraButton.doublePrice {
    right: 0;
}

.answerValidationDialog .cancelAnswer {
    color: white;
}

.answerValidationDialog .mainMessage {
    flex: 1;
}

.answerValidationDialog .playerTitle {
    display: block !important;
}

.answerValidationDialog .playerAnswer {
    font-weight: bold;
    text-align: center;
    display: block !important;
    font-size: 25px;
    margin-top: 5px;
}

.answerValidationDialog .answersPanel.answersHidden {
    opacity: 0;
}

.answerValidationDialogBody {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media screen and (min-width: 1100px) {
    .answerValidationDialog {
        width: 19.2%;
        right: 0;
        left: auto;
        top: 0;
        bottom: 45px;
        vertical-align: middle;
        border: 1px solid white;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        background-color: #0A0E30;
        color: white;
    }

    .answerValidationDialog .validationHeader {
        color: orange;
    }

    .answerValidationDialog h1 {
        font-size: 25px;
    }

    .answerValidationDialog .answersPanel {
        flex-direction: column;
        overflow-y: auto;
        height: initial;
    }

    .answerValidationDialog .buttonsPanel {
        position: static;
    }
}