.newGameDialog {
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
    color: white;
    background: linear-gradient(0deg, #181B64, #181B64);
}

.newGameDialog .tabControl {
    margin: 10px;
}

.block {
    background: rgb(37, 90, 220);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    margin: 7px 10px 7px 0;
    padding: 10px 15px;
    height: 54px;
    font-weight: 500;
}

.blockName {
    flex: 0 0 170px;
    font-size: 18px;
}

.blockValue {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}

input.blockValue[type="text"], input.blockValue[type="number"], input.blockValue[type="password"], select.blockValue {
    color: white;
    background: #181B64;
    border: 1px solid #347DFF;
    border-radius: 5px;
}

.blockValue input[type="range"] {
    accent-color: #181B64;
}

.newGameDialog .settings {
    flex: 1;
    padding-left: 13px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.newGameDialog p {
    margin-top: 11px;
    font-size: 16px;
    margin-bottom: 6px;
}

.newGameDialog input, .newGameDialog select {
    font-size: 16px;
    max-width: 95%;
    width: 95%;
    padding: 5px 6px;
}

.gameType {
    margin-right: 10px;
}

.newGameDialog .buttonsArea {
    display: flex;
}

.newGameDialog .startGame {
    font-size: 20px;
    height: 45px;
    flex: 1;
    margin: 10px;
    border-radius: 5px;
}

.newGameHeader {
    font-weight: bold;
}

.packageTypeSelector {
    margin-right: 10px;
}

.packageFileBox span {
    margin-left: 10px;
}

.newGameDialog .packageName {
    vertical-align: middle;
    margin: 3px 0 0 5px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.newGameDialog .packageFileBox input.selector {
    width: 200px;
    height: 31px;
    font-size: 15px;
    cursor: pointer;
}

.uploadPackagePanel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FFFFFF88;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadPackageMessage {
    width: 100%;
    height: 140px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #181B64, #181B64);
    border-radius: 5px;
    font-size: 20px;
}

.uploadPackagePanel .progress {
    position: static;
    display: block;
    margin-top: 30px;
}

.playersCount {
    vertical-align: bottom;
}

.playersCountTitle {
    width: 70px;
    height: 30px;
    display: inline-block;
}

.playersCountValue {
    width: 20px;
    display: inline-block;
    font-weight: 500;
}

@media screen and (min-width: 800px) {
    .newGameDialog input, .newGameDialog select {
        width: 400px;
    }

    .newGameDialog .buttonsArea {
        width: 400px;
        margin-left: auto;
        margin-right: 0;
    }

    .uploadPackageMessage {
        width: 60%;
        padding: 20px 100px;
    }
}

@media screen and (min-width: 1600px) {
    .newGameDialog p {
        margin-top: 18px;
        font-size: 18px;
        margin-bottom: 12px;
    }
}
