.reportPanel {
	display: flex;
	flex-direction: row;
	gap: 5px;
	width: 100%;
	height: 100%;
	padding: 0 5px;
}

.report_button {
	background-color: #2c7be1;
	flex: 1;
	height: 100%;
	font-size: 25px;
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 1600px) {
	.report_button {
		font-size: 35px;
	}
}
