.tabControl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tab {
	background: linear-gradient(180deg, #1C30DC 0%, #0C288D 100%);
	border-radius: 10px;
	margin: 5px;
	padding: 10px 40px;
	font-weight: 500;
	cursor: pointer;
}

.tab.active {
	background: linear-gradient(180deg, #FAF9FE 0%, #CFD9E2 100%);
	color: #081865;
	cursor: initial;
}