.lobby {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.lobby header.main {
	color: white;
	text-align: center;
	background-color: #04071B;
	width: 100%;
	height: 45px;
    flex: 0 0 45px;
	overflow: hidden;
}

.lobby header.main h1 {
	font-size: 16px;
	margin: 0;
	display: flex;
	flex-direction: row;
	height: 45px;
	overflow: hidden;
}

.lobby header.main h1 .left {
	text-align: left;
}

.lobby header.main h1 .right {
	text-align: right;
	flex: 1 0 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.onlineView {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.gamesBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

#gameInfoDialog {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gameInfoView {
    position: absolute;
    background-color: #0A0E30;
    border-radius: 16px;
    margin: 0 10px 10px 10px;
    height: calc(100% - 10px);
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.newGameArea {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gamesArea {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.gamesView {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1;
    position: relative;
}

.gameInfoArea {
    overflow: hidden;
    height: 100%;
}

.gameInfoArea > header {
    height: 0;
}

@media screen and (min-width: 1100px) {
    .gameInfoArea {
        position: relative;
        z-index: 0;
        flex: 1;
    }

    .gameInfoView {
        position: relative;
        margin-left: 0;
        width: calc(100% - 10px);
    }

    .gameInfoAreaContent {
        height: 100%;
        display: flex;
    }

    .gameInfoView .dialog_closeButton {
        display: none;
    }
}