.volumeButton {
	border-width: 0;
	width: 45px;
	height: 100%;
	padding: 8px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
}

.volumeIcon {
	width: 24px;
	height: 24px;
	color: white;
}

.volumeButtonControl {
	cursor: grab;
}

.volumeFlyout {
	width: 180px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.volumeButtonControl:active {
	cursor: grabbing;
}
