.volumeButton {
	position: absolute;
	bottom: 10px;
	right: 40px;
	font-size: 40px;
	border-width: 0;
	width: 70px;
}

.volumeButtonControl {
	position: absolute;
	bottom: 80px;
	right: 10px;
	cursor: grab;
}

.volumeButtonControl:active {
	cursor: grabbing;
}
