.volumeContainer {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 8px;
	gap: 8px;
}

.volumeIcon {
	width: 24px;
	height: 24px;
	color: white;
}

.volumeButtonControl {
	cursor: grab;
	width: 100px;
	opacity: 0.25;
	transition: opacity 0.2s;
}

.volumeButtonControl:hover {
	opacity: 1;
}

.volumeButtonControl:active {
	cursor: grabbing;
}
