.profile-view {
    background-color: #000451;
    color: white;
    z-index: 4;
    overflow-y: hidden;

    h2 {
        margin-left: 15px;
    }

    .emptyAvatar, .avatarView {
        height: 180px;
        width: 180px;
    }

    .avatarArea {
        height: 200px;
        width: 200px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .videoUrl {
        &:disabled {
            background-color: darkgray;
        }
    }
}

.profile-view .option {
	margin: 10px 10px 10px 15px;
	font-size: 20px;
}

.profile-view input[type="text"] {
	display: block;
	width: 100%;
	margin: 10px 0;
	font-size: 20px;
	color: black !important;
}

.profile-view .buttons {
	display: flex;
	justify-content: end;
	flex-direction: row;
}

.profile-view button.set {
	padding: 5px 30px;
    flex: 1;
}

.profile-view button.set:first-child {
	margin-right: 5px;
}

.profile-view button.set:hover:enabled {
	background-color: #98B9FF;
}

.videoSiteUrl {
    color: rgb(222, 206, 108);
}

@media screen and (min-width: 800px) {
    .profile-view {
        width: 300px;
        left: initial;
        border-left: 1px solid #FFFFFF;
    }
}

@media screen and (min-width: 1100px) {
    .profile-view {
        width: 400px;
    }
}

@media screen and (min-width: 1600px) {
    .profile-view {
        width: 550px;
    }
}