.sideButtonHost {
	display: flex;
	background-color: rgba(0, 0, 0, 0.1);
}

.sideButtonHost button.standard {
	flex: 1;
	font-size: 22px;
	border-radius: 0;
}

.sideButtonHost button.active {
	flex: 1;
}

.sideButtonActiveRound {
	background-color: #5A95E2;
	cursor: default !important;
}

.sideButtonActiveRound:hover {
	background-color: #5A95E2 !important;
}

.gameHeader {
	height: 50px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.3);
}

#gameLogHost .tabHeader h1 {
	font-size: 17px;
	width: 35px;
	height: 50px;
	overflow: hidden;
	white-space: nowrap;
}

.game__persons {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
}

.tabBody {
	border-top: 1px solid lightyellow;
	flex: 1 0 0;
}

.voiceChatUrl {
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.voiceChatUrl button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottomButton.standard {
	margin-bottom: -1px;
}

.bottomButton img {
	margin: 3px;
}

.bottomButton.sumsButton img {
	margin: 5px;;
}

.passText {
	padding-top: 2px;
}

.gameSideView header {
	color: white;
	text-align: center;
	background-color: #04071B;
	width: 100%;
	height: 45px;
	overflow: hidden;
}

.gameSideView h1 {
	margin: 0;
	display: flex;
	flex-direction: row;
}

.gameSideView h1 .right > button {
	width: 45px;
	height: 45px;
}

.gameSideView h1 .right > button.activeTab {
	background: #98B9FF;
}

.gameSideView h1 .right {
	text-align: right;
	flex: 1 0 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	overflow: hidden;
}

@media screen and (min-width: 1100px) {
	.bottomButton {
		display: flex !important;
	}
}

@media screen and (min-width: 1400px) {
	#gameLogHost .tabHeader h1 {
		font-size: 17px;
		width: 45px;
		padding: 6px 0 2px 0;
	}
}
