.helpDialog {
    background-color: #000451;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
	padding: 10px;
	font-size: 20px;
}

.helpText {
    margin: 13px 0 13px 13px;
    padding-right: 13px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.dialog section header {
    padding-left: 0;
}

.subHeader {
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #000;
}

.components {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 2px;
}

@media screen and (min-width: 800px) {
	.helpDialog {
		top: 100px;
		bottom: 100px;
		left: 100px;
		right: 100px;
		border-radius: 12px;
		border: rgba(160, 160, 160, 0.548) 1px solid;
	}
}
