.joinRoom {
	background-color: #000451dc;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	color: white;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.joinRoom h1 {
	margin-bottom: 6px;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #000;
}

.joinRoomHost .logo {
	width: 100px;
	height: 100px;
	background-image: url('../../../../assets/images/sigame.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	margin-top: 20px;
}

@media screen and (min-width: 800px) {
	.joinRoom {
		top: 50px;
		bottom: 50px;
		left: 50px;
		right: 50px;
		border-radius: 12px;
		border: rgba(160, 160, 160, 0.548) 1px solid;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	}
}