.settingItem select {
	font-size: 16px;
	max-width: 95%;
	width: 95%;
	padding: 5px 6px;
	background-color: white;
}

.rulesSettingsView .block {
	height: 130px;
}

.rulesSettingsView .blockName {
    flex: 0 0 150px;
}

.rulesSettingsView .blockValue {
    flex-direction: column;
	align-items: center;
}

.rulesSettingsView .blockValue div {
	text-align: center;
}

.rulesSettingsView input[type='checkbox'] {
    height: 25px;
	width: 25px;
	text-align: left;
	accent-color: #181B64;
	cursor: pointer;
}

.rulesSettingsView input[type='number'] {
	background: #181B64;
	color: white;
	border: 1px solid #347DFF;
	border-radius: 5px;
}

.rulesSettingsView .hint {
	margin-top: 5px;
	font-size: 12px;
}

.rulesSettingsView .valueEditor {
	margin-left: 20px;
}

.rulesSettingsView .reset {
    font-size: 25px;
    margin: 20px 0;
    padding: 5px 25px;
}

@media screen and (min-width: 800px) {
	.rulesSettingsView .block {
		height: 54px;
	}

	.rulesSettingsView .blockName {
		flex: 0 0 350px;
	}

	.rulesSettingsView .blockValue {
		flex-direction: row;
	}

    .rulesSettingsView .hint {
		margin-top: 0;
		margin-left: 20px;
		font-size: 16px;
	}

	.gameTypeHint {
		margin-top: 0;
		margin-left: 20px;
		width: 280px;
	}
}