#table .tableGameThemes {
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #000;
	font-size: 36px;
	position: absolute;
	top: 100%;
	transition: top linear 10s;
	line-height: 1.5;
}