.welcomeView {
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	color: #FFFFFF;
	font-family: Standard;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
}

.welcomeView .logo, .welcomeView .logoMini {
    max-width: 600px;
	width: 90%;
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    margin-top: 10px;
	flex: 100px 0 0;
}

.welcomeView .logo {
    background-image: url('../../../../assets/images/logo.png');
}

.welcomeView .logoMini {
    background-image: url('../../../../assets/images/sigame.png');
}

.welcomeView > header {
	color: white;
	text-align: center;
	background-color: #04071B;
	width: 100%;
	height: 45px;
	overflow: hidden;
}

.welcomeView > header h1 {
	font-size: 16px;
	margin: 0;
	display: flex;
	flex-direction: row;
	height: 45px;
	overflow: hidden;
}

.welcomeView header h1 .left {
	display: flex !important;
	flex-direction: row;
	overflow: hidden;
	flex: 0 0 auto;
}

.mainHeader .right {
	flex: 1 0 0;
}

.welcomeView .mainArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	flex: 1;
}

.serverName {
	color: #FFFFFF;
	margin-left: 10px;
	line-height: 45px;
	height: 45px;
	display: inline-block;
}

.serverLicense {
	margin-left: 10px;
	font-size: 18px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 0;
	flex: 0 0 45px;
	width: 45px;
	height: 45px;
	padding: 3px;
}

.licenseDialog {
	background-color: #000451;
	color: white;
	overflow-y: hidden;
}

.licenseText {
	display: block;
	padding: 10px;
	height: calc(100% - 50px);
	font-weight: normal;
	font-size: 18px;
	overflow-y: auto;
}

.licenseText header {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}

.welcomeViewActions {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	margin-top: 20px;
}

.welcomeViewActions button {
	margin: 2px 0;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	font-size: 25px;
}

@keyframes welcomeRows {
	to {
		transform: translate(0);
	}
}

button.standard.welcomeRow {
	animation: welcomeRows;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

.welcomeRow.left {
	transform: translate(-100%);
}

.welcomeRow.right {
	transform: translate(100%);
}

button.standard.welcomeExit {
	display: flex !important;
	flex: 0 0 45px;
	width: 45px;
	height: 45px;
	background: transparent;
	border-radius: 0;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.welcomeExit img {
	width: 30px;
	height: 30px;
}

@media screen and (max-height: 400px) {
	.welcomeView .logo {
		display: none;
	}

	.welcomeViewActions {
		font-size: 20px;
	}
}

@media screen and (min-width: 800px) {
	.welcomeViewActions {
		width: initial;
		height: initial;
		flex: initial;
		overflow-x: initial;
	}

	.licenseDialog {
		top: 50px;
		bottom: 50px;
		left: 100px;
		right: 100px;
		border-radius: 12px;
	}
}

@media screen and (min-height: 600px) {
	.welcomeViewActions {
		font-size: 25px;
		margin-top: 70px;
	}

	.welcomeViewActions button {
		padding: 10px 40px;
		margin: 3px 0;
	}

	.welcomeView .logo {
		flex: 200px 0 0;
	}
}

@media screen and (min-height: 800px) {
	.welcomeViewActions {
		margin-top: 100px;
	}

	.welcomeViewActions button {
		padding: 17px 50px;
		margin: 5px 0;
		font-size: 35px;
	}
}

@media screen and (min-height: 800px) and (min-width: 1100px) {
	.welcomeView .logo {
		flex: 300px 0 0;
	}
}

@media screen and (min-height: 800px) and (min-width: 1600px) {
	.welcomeViewActions {
		margin-top: 150px;
	}
}
