@use "../../../scss/variables" as v;

.answerValidationDialog {
    background-color: #0A0E30;
    color: white;
    z-index: 5;
}

.answerValidation {
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.answerValidationDialog .answerValidation {
    height: calc(100% - 60px);
}

.answerValidation {
    .rightAnswers {
        color: #FFFFFF;
        background: linear-gradient(135deg, rgba(76, 175, 80, 0.3), rgba(46, 125, 50, 0.3));
        border: 2px solid rgba(76, 175, 80, 0.6);
    }

    .rightAnswers li {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    }

    .wrongAnswers {
        color: #FFFFFF;
        background: linear-gradient(135deg, rgba(244, 67, 54, 0.3), rgba(198, 40, 40, 0.3));
        border: 2px solid rgba(244, 67, 54, 0.6);
    }

    .wrongAnswers li {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    }
}

@media screen and (min-width: 1100px) {
    .answerValidationDialog {
        width: 19.2%;
        right: 0;
        left: auto;
        top: 0;
        bottom: 0;
        vertical-align: middle;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        background-color: #0A0E30;
        color: white;
    }

    .answerValidationBody .validationHeader {
        color: orange;
    }

    .answerValidationBody h1 {
        font-size: 25px;
    }

    .answerValidationBody .answersPanel {
        flex-direction: column;
        overflow-y: auto;
        height: initial;
    }
}