@use "../../../scss/variables" as v;

.answerValidationDialog {
    background-color: #0A0E30;
    color: white;
    z-index: 5;
}

.answerValidation {
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.answerValidationBody {
    flex: 1;
}

.answerValidationBody .validationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 13px;
    min-width: 0;
}

.answerValidationBody .validationHeader p {
    overflow: hidden;
    display: inline-block !important;
    max-height: 120px;
}

.answerValidationBody p {
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.answerValidationBody .answersPanel {
    margin: 13px;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.answerValidationBody .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2px;
    flex: 1;
}

.answerValidationBody .answers p {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    height: 40px;
}

.answerValidationBody .answers ul {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    width: 100%;
    flex: 1;
}

.answerValidationBody .answers li {
    vertical-align: middle;
    font-size: larger;
    text-align: center;
}

.answerValidationBody .answers li span {
    vertical-align: middle;
}

.answerValidationBody .mainMessage {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.answerValidationBody .playerTitle {
    display: block !important;
}

.answerValidationBody .playerAnswer {
    font-weight: bold;
    text-align: center;
    display: block !important;
    font-size: 20px;
    margin-top: 5px;
}

.answerValidationBody .answersPanel.answersHidden {
    opacity: 0;
}

.answerValidationBody {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 4px;
}

.answerValidationDialog .answerValidation {
    height: calc(100% - 60px);
}

.rightAnswers {
    color: #54996a;
}

.wrongAnswers {
    color: #a8372f;
}

@media screen and (min-width: 1100px) {
    .answerValidationDialog {
        width: 19.2%;
        right: 0;
        left: auto;
        top: 0;
        bottom: 0;
        vertical-align: middle;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        background-color: #0A0E30;
        color: white;
    }

    .answerValidationBody .validationHeader {
        color: orange;
    }

    .answerValidationBody h1 {
        font-size: 25px;
    }

    .answerValidationBody .answersPanel {
        flex-direction: column;
        overflow-y: auto;
        height: initial;
    }
}