.packageView {
	color: white;
	background-color: #000000;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	overflow: hidden;

	.packageView__structure {
		flex: 2;
		overflow: auto;
		margin-right: 10px;

		.packageView__header {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.packageView__package {
			font-size: 25px;
			margin-left: 5px;
			height: 42px;
			padding: 0 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			&:hover {
				background-color: #777777;
			}

			&.selected {
				background-color: white;
				color: black;
				cursor: default;
			}
		}

		.packageView__rounds {
			display: flex;
			flex-direction: row;
			margin-top: 10px;

			.packageView__round {
				height: 50px;
				margin: 0 3px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 20px;
				font-size: 20px;
				cursor: pointer;

				&:hover {
					background-color: #777777;
				}

				&.selected {
					background-color: white;
					color: black;
					cursor: default;
				}
			}
		}

		.packageView__table {
			margin-top: 10px;
		}

		.packageView__theme {
			display: flex;
			flex-direction: row;
			height: 50px;

			.packageView__theme__name {
				margin: 3px;
				flex: 200px 0 0;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgb(56, 56, 56);
				cursor: pointer;

				&:hover {
					background-color: #777777;
				}

				&.selected {
					background-color: white;
					color: black;
					cursor: default;
				}
			}

			.packageView__question {
				margin: 3px;
				flex: 60px 0 0;
				background-color: rgb(56, 56, 56);
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				&.wide {
					flex: 180px 0 0;
				}

				&:hover {
					background-color: #777777;
				}

				&.selected {
					background-color: white;
					color: black;
					cursor: default;
				}
			}
		}
	}

	.packageView__object {
		flex: 1;
		background-color: rgb(59, 59, 59);
		border-radius: 5px;
		padding: 15px;
		position: absolute;
		overflow: hidden;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		.info {
			overflow: hidden;
			display: flex;
			flex-direction: column;
			height: 100%;

			header {
				display: flex;
				flex: 45p 0 0;
			}

			.main__header {
				font-size: 25px;
				margin-bottom: 10px;
				margin-left: -2px;
				flex: 1;
			}

			label.header {
				font-size: 20px;
				margin-top: 10px;
			}

			.info__content {
				overflow-y: auto;
				display: flex;
				flex-direction: column;
				flex: 1;
				margin-top: 10px;
			}

			input {
				margin: 5px 0;
				padding: 5px;
				font-size: 16px;
			}

			textarea {
				margin: 5px 0;
				padding: 5px;
				font-size: 16px;
			}

			.packageView__theme__info__comments {
				flex: 100px 0 0;
			}

			.packageView__question__screens {
				display: flex;
				flex-direction: row;
				flex: 50px 0 0;
			}

			.packageView__question__screen {
				width: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				background-color: #000000;
				margin: 5px 5px 5px 0;
				cursor: pointer;

				&.selected {
					background-color: white;
					color: black;
					cursor: default;
				}
			}

			.packageView__question__current__screen {
				width: 250px;
				flex: 250px 0 0;
				padding: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				overflow: hidden;
				background-color: #000000;
			}
		}
	}
}

h1 {
	margin: 0;
}

@media screen and (min-width: 800px) {
	.packageView {
		.packageView__object {
			position: relative;
			left: initial;
			top: initial;
			width: initial;
			height: initial;
		}
	}
}