.tableContextView, .emptyContext {
	height: 45px;
	margin-top: 3px;
}

@media screen and (min-width: 1600px) {
	.tableContextView, .emptyContext {
		height: 65px;
	}
}

.tableContextView .inContext {
	margin: 0;
	height: 100%;
	background: none;
	border: none;
	backdrop-filter: none;
	box-shadow: none;
}