button.standard.moveRoundButton {
	display: flex !important;
	flex: 0 0 45px;
	width: 45px;
	height: 45px;
	background: transparent;
	border-radius: 0;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}