.answerValidationDialog {
    background-color: #5A95E2;
    z-index: 5;
}

.answerValidationDialog p {
    margin: 13px;
    height: 40px;
}

.answerValidationDialog #answersPanel {
    margin: 13px;
    height: calc(100% - 182px);
}

.answerValidationDialog .answers {
    display: inline-block;
    width: calc(50% - 6px);
    margin: 0 2px;
    vertical-align: top;
    height: 100%;
}

.answerValidationDialog > p {
    margin: 13px;
}

.answerValidationDialog .answers p {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    height: 40px;
}

.answerValidationDialog .answers ul {
    background-color: #C0CFF4;
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.answerValidationDialog .answers li {
    padding-left: 15px;
    cursor: pointer;
    vertical-align: middle;
}

.answerValidationDialog .answers li span {
    line-height: 40px;
    vertical-align: middle;
}

    .answerValidationDialog .answers li:hover {
        background-color: #98B9FF;
    }

    .answerValidationDialog .answers li.active {
        background-color: #5A95E2;
    }
    
@media screen and (min-width: 800px) {
    .answerValidationDialog {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        top: 130px;
        bottom: 130px;
        vertical-align: middle;
        border: 1px solid black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
}