.answerValidationDialog {
    background-color: #5A95E2;
    z-index: 5;
}

.answerValidationDialog .validationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 13px;
    min-width: 0;
}

.validationHeader p {
    overflow: hidden;
    display: inline-block !important;
    max-height: 120px;
}

.answerValidationDialog p {
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.answerValidationDialog #answersPanel {
    margin: 13px;
    max-height: calc(100% - 183px);
}

.answerValidationDialog .answers {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 6px);
    margin: 0 2px;
    vertical-align: top;
    height: 100%;
}

.answerValidationDialog .answers p {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    height: 40px;
}

.answerValidationDialog .answers ul {
    max-height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    width: 100%;
}

.answerValidationDialog .answers li {
    vertical-align: middle;
    font-size: larger;
    text-align: center;
}

.answerValidationDialog .answers li span {
    line-height: 40px;
    vertical-align: middle;
}

.answerValidationDialog .buttonsPanel {
    position: absolute;
    bottom: 0;
}

.answerValidationDialog .buttonsPanel .rightPanel {
    position: relative;
}

.answerValidationDialog .validationButton {
    width: 100%;
    height: 100%;
}

.answerValidationDialog .extraButton {
    position: absolute;
    font-family: 'Arial';
    font-size: 14px;
    background-color: transparent;
    width: 45px;
    height: 100%;
}

.answerValidationDialog .extraButton:hover {
    background-color: #98B9FF;
}

.answerValidationDialog .extraButton.halfPrice {
    left: 0;
}

.answerValidationDialog .extraButton.doublePrice {
    right: 0;
}

@media screen and (min-width: 800px) {
    .answerValidationDialog {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        top: 130px;
        bottom: 130px;
        vertical-align: middle;
        border: 1px solid black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }

    .answerValidationDialog.short {
        height: 171px;
        top: initial;
    }
}

@media screen and (min-width: 800px) {
    .answerValidationDialog {
        height: 40%;
        top: 250px;
        bottom: 250px;
    }
}