.answerInputHost {
	display: flex;
    margin: 0;
    height: 100%;
    border: 0;
	overflow: hidden;
    pointer-events: initial;
	background-color: rgb(255, 188, 62);
    border-top: 1px solid gray;
}

.answerInput {
	border: 0;
    max-width: none;
    box-sizing: border-box;
	height: 100%;
	flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 23px;
	margin: 0;
	background-color: rgb(255, 188, 62);
}

.sendAnswer {
	width: 60px;
	height: 100%;
}