.bottomPanel {
	position: relative;
}

.game__playerButton {
    height: 45px;
    margin-right: -1px;
    position: relative;
}

.answerForWide {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.answerForWide input {
    background-color: lightyellow;
}

.wideStakeHost {
    position: absolute;
    background-color: #5a95e2;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 45px;
}

    .wideStakeHost button {
        font-size: 25px;
		flex: 1 0 0;
    }

@media screen and (min-width: 1100px) {
	.answerForWide {
		display: initial;
	}
}