input.disconnected {
	color: gray;
}

.roomChatBodyHost {
	position: relative;
	display: flex;
	flex: 1;
}

.gameInputBox {
    max-width: none;
    flex: 1;
    margin: 0;
    height: 45px;
    top: 0;
    border: 0;
    border-top: 1px solid gray;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 47px;
    box-sizing: border-box;
    pointer-events: initial;
}

@media screen and (min-width: 800px) {
	.roomChatBodyHost {
		flex: initial;
		width: 100%;
	}
}
