.sideButtonHost {
	display: flex;
}

.sideButtonHost button {
	flex: 1;
	font-size: 22px;
}

.sideButtonHost button.active {
	flex: 1;
	background-color: lightyellow;
}

.sideButtonHost button:not(:last-child) {
	margin-right: -1px;
}

.sideButtonActiveRound {
	background-color: #5A95E2;
	cursor: default !important;
}

.sideButtonActiveRound:hover {
	background-color: #5A95E2 !important;
}

.gameHeader {
	height: 50px;
	position: relative;
}

#gameLogHost .tabHeader h1 {
	font-size: 17px;
	width: 35px;
	height: 50px;
	overflow: hidden;
	white-space: nowrap;
}

.settingsOpener {
	position: absolute;
	right: 0;
	padding: 7px 12px;
	font-size: 24px;
	top: 1px;
}

.game__persons {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.tabBody {	
    border-top: 1px solid lightyellow;
	flex: 1 0 0;
}

@media screen and (min-width: 1400px) {
	#gameLogHost .tabHeader h1 {
		font-size: 19px;
		width: 45px;
		padding: 6px 0 0 0;
	}
}
