.gameHint {
	position: absolute;
	height: 46px;
	font-size: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffffff77;
	font-family: SI;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #000;
	text-align: center;
	opacity: 0.8;
}