.playerButton {
    background: #690000;
    background: radial-gradient(circle, rgba(183,144,42,1) 0%, rgba(187,0,0,1) 35%);
}

.playerButton:hover {
    background: #FF0000;
    background: radial-gradient(circle, rgba(255,183,0,1) 0%, rgba(255,0,0,1) 35%);
}

.playerButton:active {
    background: #f2daa0;
}

.playerButton:disabled {
    background: gray;
    cursor: initial;
}