.sideButtonHost {
	display: flex;
}

.sideButtonHost button {
	flex: 1;
}

.sideButtonHost button.active {
	flex: 1;
	background-color: lightyellow;
}

.sideButtonHost button:not(:last-child) {
	margin-right: -1px;
}

.activeRound {
	background-color: #5A95E2;
	cursor: default !important;
}

.activeRound:hover {
	background-color: #5A95E2 !important;
}
