.gameMain {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.game__mainArea {
    display: flex;
    flex-direction: column;
}

.game__tableArea {
    display: flex;
    flex-direction: column;
    flex: 4 0 0;
    overflow: hidden;
}

.tableArea {
    flex-grow: 2;
    height: 100%;
    position: relative;    
    overflow: hidden;
}

.gameMainView {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.showmanTableArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@media screen and (min-height: 600px) {
    .gameMainView {
        flex-direction: column;
    }

    .gameMainView.reversed, .gameMainView.reversed .showmanTableArea {
        flex-direction: column-reverse;
    }
}
