.gameMain {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.game__mainArea {
    display: flex;
    flex-direction: column;
}

.game__tableArea {
    display: flex;
    flex-direction: column;
    flex: 4 0 0;
    overflow: hidden;
}

.showmanProgressArea {
    flex: 0 0 90px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.showmanProgressArea .round_progress {
    display: none;
}

.tableArea {
    flex-grow: 2;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gameMainView {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.showmanTableArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gameInfoDialog {
    background-color: #5A95E2;
    z-index: 5;
}

.manageGameDialog, .sumEditDialog {
    height: 100%;
    background-color: #5A95E2;
    z-index: 5;
}

.sumEditDialog {
    overflow: hidden;
}

.compactChatView {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.settingsOpener {
	position: absolute;
	right: 0;
	padding: 7px 12px;
	font-size: 24px;
	top: 1px;
}

@media screen and (min-height: 600px), (max-width: 600px) {
    .gameMainView {
        flex-direction: column;
    }

    .gameMainView.reversed, .gameMainView.reversed .showmanTableArea {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 1100px) {
    .gameMain {
        flex-direction: row;
        background-image: url('../../../assets/images/studia.png');
        background-size: contain;
    }

    .showmanTableArea {
        flex-direction: row !important;
        align-items: center;
    }

	.tableArea {
		margin-right: 10px;
	}

    .showmanProgressArea {
        flex: 0 0 280px;
        height: 100%;
    }

    .showmanProgressArea .round_progress {
        display: initial;
        margin: 10px;
        width: calc(100% - 20px);
    }

    .game__mainArea {
        flex: 0.95 0 0;
    }
}

@media screen and (min-width: 1600px) {
    .showmanProgressArea {
        flex: 0 0 370px;
    }
}