.gameMain {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.game__mainArea {
    display: flex;
    flex-direction: column;
}

.game__tableArea {
    display: flex;
    flex-direction: column;
    flex: 4 0 0;
    overflow: hidden;
}

.tableArea {
    flex-grow: 2;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.gameMainView {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.showmanTableArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gameInfoDialog {
    background-color: #5A95E2;
    z-index: 5;
}

.manageGameDialog {
    height: 100%;
    background-color: #5A95E2;
    z-index: 5;
}

@media screen and (min-height: 600px), (max-width: 600px) {
    .gameMainView {
        flex-direction: column;
    }

    .gameMainView.reversed, .gameMainView.reversed .showmanTableArea {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 1100px) {
    .showmanTableArea {
        flex-direction: row !important;
    }

	.tableArea {
		margin-right: 10px;
	}
}