.personsList {
    overflow: auto;
    width: 100%;
    flex: 1 0 0;
    background-color: #C0CFF4;
}

.personsHeader {
    background-color: rgb(0, 4, 81);
    font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
    padding: 0 10px;
    height: 43px;
    display: flex;
    align-items: center;
}

.inviteLinkHost {
    position: relative;
}

.inviteLinkTooltip {
    position: absolute;
    bottom: 110%;
    text-align: center;
    width: 100%;
    color: #101010;
    display: none;
}
