#playersPanel {
    margin: 0;
    flex: 0.5;
}

.gamePlayers {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 50px;
    background-color: #C0CFF4;
}

    .gamePlayers li {
        height: 50px;
        list-style-type: none;
        background-color: transparent;
        flex-grow: 1;
        margin: 0.5px;
        position: relative;
        display: flex;
        justify-content: center;
        min-width: 0;
    }

    .gamePlayers .playerCard {
        padding: 2px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .gamePlayers .playerInfo {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;
        font-weight: bolder;
    }

    .gamePlayers li.me .name, .gamePlayers li.me .sum, .gamePlayers li.me .stakeHost {
        color: orange;
    }

        .gamePlayers li.selectable {
            cursor: pointer;
        }

        .gamePlayers li.selectable:hover {
            background-color: orange !important;
        }

    .gamePlayers .stake {
        font-weight: bold;
        padding-left: 3.5px;
        margin-left: 3.5px;
    }

    .gamePlayers .name, .gamePlayers .sum {
        display: block;
        margin: 0 1px;
    }

    .gamePlayers .stakeHost {
        display: none;
    }

    .gamePlayers .name, .gamePlayers .sum, .gamePlayers .stakeHost {
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .gamePlayers .playerReplic {
        position: absolute;
        top: 0;
        width: 200px;
        left: 100%;
        height: 100%;
        padding: 5px;
        background-color: #ffffee;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
        z-index: 3;
        animation: replicfadein 1s;
    }

    .gamePlayers .playerReplicText {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gamePlayers .replicLink {
        position: absolute;
        left: -5px;
        width: 10px;
        height: 10px;
        z-index: 1;
        background: #ffffee;
        transform: rotate(135deg);
        box-shadow: 12px 11px 10px -4px black;
    }

@keyframes replicfadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.playerAvatar {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    min-width: 10px;
    flex: 0.3;
    position: relative;
}

.playerAvatar iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.gamePlayer {
    background-color: transparent;
    transition: background-color 1s, opacity 1s;
}

.gamePlayer.state_press {
    background-color: rgb(255, 255, 119);
}

.gamePlayer.state_lost {
    background-color: #ffac59;
}

.gamePlayer.state_right {
    background-color: rgb(69, 189, 45);
}

.gamePlayer.state_wrong {
    background-color: rgb(175, 51, 51);
}

.gamePlayer.state_hasanswered {
    background-color: darkviolet;
}

.gamePlayer.state_pass {
    background-color: gray;
}

.gamePlayer.out_of_game {
    opacity: 0.5;
}

.gamePlayer.selectable {
    background-color: lightyellow;
}

.playerInfo .numericTextBox {
    font-size: smaller;
}

.marksArea {
    position: absolute;
    bottom: 0;
    right: 0;
}

.readyMark {
    font-size: 15px;
}

.chooserMark {
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../../../assets/images/active_player.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-origin: content-box;
    padding: 2px;
}

.mediaLoadedMark {
    width: 20px;
    height: 20px;
    background: green;
    border-width: 1px 1px 0 0;
    border-color: lightgray;
    border-style: solid;
}

@media screen and (min-height: 700px), (max-width: 600px) {
    #playersPanel {
        flex: 0 0 75px;
    }

    .gamePlayers .playerInfo .name, .gamePlayers .playerInfo .stakeHost {
        display: none;
    }

    .gamePlayers .playerInfo .sum {
        margin-top: 2px;
    }

    .gamePlayers li.me .sum {
        color: darkorange;
        text-shadow: 0.5px 0.5px 0 gray;
    }

    .gamePlayers {
        flex-direction: row;
    }

    .gamePlayers .playerReplic {
        top: 100%;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
        min-width: 180px;
        max-width: 360px;
        height: 120px;
    }

    .gameMainView.reversed .gamePlayers .playerReplic {
        bottom: initial;
        top: 27px;
    }

    .gamePlayers .replicLink {
        top: -10px;
        left: initial;
        width: 20px;
        height: 20px;
        transform: rotate(225deg);
    }

    .gameMainView.reversed .gamePlayers .replicLink {
        top: -10px;
        left: initial;
        width: 20px;
        height: 20px;
        transform: rotate(225deg);
    }

    .playerAvatar {
        min-width: 28px;
        flex: 3;
    }

    .gamePlayers li {
        height: initial;
        margin: 0;
        flex: 1;
    }

    .gamePlayers .playerCard {
        padding: 3px 1px 0 1px;
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) and (min-height: 700px) {
    .gamePlayers {
        justify-content: center;
    }

    .gamePlayers li {
        max-width: 250px;
    }

    .readyMark {
        font-size: 25px;
    }

    .gamePlayers .name, .gamePlayers .sum {
        margin: 0 3px;
    }
}

@media screen and (min-width: 1100px) and (min-height: 700px) {
    #playersPanel {
        flex: 0.45 0 0 !important;
    }

    .playerAvatar {
        min-width: 26px;
    }

    #playersPanel .avatarMale, #playersPanel .avatarFemale {
        background-size: cover;
    }

    .chooserMark {
        width: 25px;
        height: 25px;
    }

    .gamePlayers .playerInfo .name, .gamePlayers .playerInfo .stakeHost {
        display: block !important;
    }

    .gamePlayers li.me .sum {
        color: orange !important;
        text-shadow: none;
    }

    .gamePlayers .playerInfo .sum {
        margin-top: 0 !important;
    }

    .gamePlayers {
        flex-flow: initial;
        margin: 0 9px;
        width: calc(100% - 18px);
        background-color: transparent;
    }

    .gamePlayers li {
        height: calc(100% - 10px);
        flex: 1;
        flex-flow: column;
        margin: 5px 1px !important;
    }

    .gamePlayers .playerCard {
        padding: 5px;
        flex-direction: column;
    }

    .gamePlayers .playerInfo {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .gamePlayers .playerInfo {
        color: white;
    }

    .playerAvatar {
        height: 60%;
        flex: initial;
        margin-right: 5px;
    }

    .gamePlayers .playerReplic {
        top: 55px !important;
        height: 145px;
        padding: 15px;
    }

    .gameMainView.reversed .gamePlayers .playerReplic {
        top: 55px !important;
        bottom: initial !important;
    }

    .gameMainView.reversed .gamePlayers .replicLink {
        left: initial;
        top: initial;
        bottom: -10px;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
    }

    .gamePlayers .playerInfo {
        font-size: 17px;
        padding: 2px 0 0 0;
        width: initial;
        display: initial !important;
    }

    .gamePlayers .stakeHost {
        display: block;
    }

    .gamePlayers .stake {
        padding-left: 0;
        margin-left: 0;
    }

    .playerAvatar {
        margin-right: 0;
    }
}

@media screen and (min-width: 1600px) and (min-height: 700px) {
    .gamePlayers li {
        height: 100%;
        margin: 5px !important;
        max-width: 350px;
    }

    .gamePlayers .playerCard {
        padding: 16px;
    }

    .gamePlayers .playerReplic {
        top: 80px !important;
        height: 169px !important;
    }

    .gameMainView.reversed .gamePlayers .playerReplic {
        top: 80px !important;
        bottom: initial !important;
    }

    .gamePlayers .playerInfo {
        font-size: 30px;
        padding: 3px;
    }
}
