#playersPanel {
    background-color: #C0CFF4;
    margin: 0;
    flex: 0.5;
}

.gamePlayers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 50px;
}

    .gamePlayers li {
        height: 50px;
        list-style-type: none;
        flex-grow: 1;
        border-top: 0;
        border-left: 1px solid transparent;
        border-right: 1px solid darkgray;
        border-bottom: 1px solid darkgray;
        position: relative;
        display: flex;
        justify-content: center;
        min-width: 0;
    }

    .gamePlayers .playerCard {
        padding: 2px;        
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .gamePlayers .playerInfo {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 0;
    }

    .gamePlayers li.me .name {
        font-weight: bold;
    }

        .gamePlayers li.selectable {
            cursor: pointer;
        }

        .gamePlayers li.selectable:hover {
            background-color: orange !important;
        }

    .gamePlayers .name, .gamePlayers .sum {
        display: block;
        text-align: center;
    }

    .gamePlayers .stake {
        font-weight: bold;
        border-left: 1px solid gray;
        padding-left: 3.5px;
        margin-left: 3.5px;
    }

    .gamePlayers .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .gamePlayers .playerReplic {
        position: absolute;
        top: 0;
        width: 200px;
        left: 100%;
        height: 100%;
        padding: 5px;
        background-color: #ffffee;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 1.0);
        z-index: 3;
    }

.playerAvatar {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    min-width: 10px;
    margin-right: 5px;
    flex: 0.3;
}

.gamePlayer {
    background-color: transparent;
}

.gamePlayer.state_press {
    background-color: yellow;
}

.gamePlayer.state_lost {
    background-color: #F7820C;
}

.gamePlayer.state_right {
    background-color: lime;
}

.gamePlayer.state_wrong {
    background-color: darkred;
}

.gamePlayer.selectable {
    background-color: cyan;
}

.playerInfo .numericTextBox {
    font-size: smaller;
}

@media screen and (min-width: 800px) {
    .playerAvatar {
        min-width: 26px;
    }
}

@media screen and (min-width: 1100px) and (min-height: 700px) {
    .gamePlayers {
        flex-flow: initial;
        height: 125px;
    }

    #playersPanel {
        flex: initial !important;
    }

    .gamePlayers li {
        height: 125px;
        flex: 1;
        flex-flow: column;
    }

    .gamePlayers .playerCard {
        padding: 10px;
        flex-direction: column;
    }

    .playerAvatar {
        height: 50%;
        flex: initial;
    }

    .gamePlayers .playerReplic {
        top: 124px;
        height: 145px;
        padding: 15px;
    }

    .gameMainView.reversed .gamePlayers .playerReplic {
        top: initial;
        bottom: 124px;
    }

    .gamePlayers .playerInfo {
        font-size: 15px;
        padding: 2px;
        width: initial;
    }

    .gamePlayers .stake {
        display: block;
        border-left-width: 0;
        padding-left: 0;
        margin-left: 0;
    }
    
    .playerAvatar {
        margin-right: 0;
    }
}

@media screen and (min-width: 1600px) and (min-height: 700px) {
    .gamePlayers {
        height: 150px;
    }

    .gamePlayers li {
        height: 150px;
    }

    .gamePlayers .playerCard {
        padding: 16px;
    }

    .gamePlayers .playerReplic {
        top: 149px;
        height: 169px;
    }

    .gameMainView.reversed .gamePlayers .playerReplic {
        top: initial;
        bottom: 149px;
    }

    .gamePlayers .playerInfo {
        font-size: 18px;
        padding: 3px;
    }
}

@media screen and (min-height: 600px), (max-width: 600px) {
    #playersPanel {
        flex: 0.3;
    }

    .gamePlayers {        
        flex-direction: row;
    }

    .gamePlayers .playerReplic {
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        min-width: 100px;
        height: 100px;
    }

    .playerAvatar {
        min-width: 43px;
    }

    .gamePlayers li {
        height: initial;
        width: 100px;
    }

    .gamePlayers .playerCard {
        padding: 4px;
    }
}
