.showmanReplic {
    width: 100%;
    padding: 5px;
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 1s;
}

.replic {
    background: #1634CF;
    color: white;
}

.showmanReplic.hidden {
    opacity: 0;
}

@media screen and (min-width: 1100px) {
    .showmanReplic {
        width: calc(100% - 10px);
        padding: 7px;
        flex: 1.5;
        border-radius: 30px;
        margin: 5px;
    }
}

@media screen and (min-width: 1600px) {
    .showmanReplic {
        padding: 12px;
    }
}