.showmanArea {
    position: relative;
    width: 100%;
    flex: 0 0 90px;
    display: flex;
    overflow: hidden;
}

.showmanReplic {
    width: 100%;
    margin: 0;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: lightyellow;
}

.showmanArea.highlighted .showmanReplic {
    background-color: rgb(255, 188, 62);
}

.showmanInfo {
    display: none;
    flex-flow: column;
    flex: 0 0 120px;
    padding: 10px;
    padding: 10px 7px 7px 7px;
    justify-content: center;
    background-color: #ebf0fc;
}

.showmanAvatar {
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: center;
}

.showmanAvatar img {
    height: 100%;
}

.showmanName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 15px;
}

.showmanAvatar, .showmanName {
    width: 120px;
}

@media screen and (min-width: 1100px) {
    .showmanArea {
        flex: 0 0 250px;
        flex-direction: column;
        margin: 10px 10px 0 10px;
        height: 70%;
    }

    .showmanInfo {
        display: flex;
        flex: 1;
    }

    .showmanName {
        font-size: 18px;
        width: initial;
        margin-top: 2px;
    }

    .showmanAvatar {
        padding: 0 45px;
        width: initial;
    }

    .showmanAvatar img {
        width: 100%;
        max-height: 190px;
    }

    .showmanReplic {
        padding: 15px;
        flex: 1;
    }
}

@media screen and (min-width: 1600px) {
    .showmanArea {
        flex: 0 0 330px;
    }

    .showmanInfo {
        flex: 0 0 240px;
    }

    .showmanReplic {
        flex: 0 0 460px;
    }

    .showmanAvatar img {
        max-height: 290px;
    }
}
