.showmanArea {
    position: relative;
    width: 100%;
    flex: 0 0 90px;
    display: flex;
    overflow: hidden;
    background-color: lightyellow;
}

.showmanReplic {
    width: 100%;
    margin: 0;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showmanArea.highlighted {
    background-color: orange;
}

.showmanInfo {
    display: none;
    flex-flow: column;
    flex: 0 0 120px;
    padding: 10px;
    padding: 10px 7px 7px 7px;
    justify-content: center;
}

.showmanAvatar {
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: center;
}

.showmanAvatar img {
    height: 100%;
}

.showmanName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 15px;
}

.showmanAvatar, .showmanName {
    width: 120px;
}

@media screen and (min-width: 1100px) {
    .showmanArea {
        flex: 0 0 150px;
    }

    .showmanInfo {
        display: flex;
        flex: 0 0 240px;
    }

    .showmanName {
        font-size: 18px;
    }

    .showmanAvatar, .showmanName {
        width: 240px;
    }
}

@media screen and (min-width: 1600px) {
    .showmanArea {
        flex: 0 0 175px;
    }
}
