.gameMenuHost {
    position: relative;
}

.sidecontrol_buttons {
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
}

.sidecontrol_buttons button.standard {
    padding: 0;
    height: 45px;
}

#gameMenuButton, .gameMenuButton {
    font-size: 22px;
    line-height: 22px;
    margin: 0;
    width: 100%;
}

button.standard.imageButton.pauseButton {
    display: none;
    flex: 1 0 0;
}

.nextButton {
    width: 100%;
    flex: 1 0 0;
}

.nextButton.startButton {
    background-color: lightyellow;
    color: orange;
    font-size: 28px !important;
    padding-top: 6px !important;
}

#exit, .exit {
    margin: 0;
    border-width: 1px;
    width: 100%;
    flex: 1 0 0;
    position: relative;
}

.nextButton img, .pauseButton img, .exit img {
    margin: 8px;
}

.exitMenu {
    background-color: rgb(0, 4, 81);
}

.gameMenu, .exitMenu {
    bottom: 45px;
    width: 100%;
    min-width: 120px;
}

    .exitMenu p {
        margin: 15px 20px;
        text-align: center;
        font-size: 15px;
        color: white;
    }

.exitMenu ul {
    line-height: 40px;
}

ul.gameMenuButton {
    line-height: 30px;
}

ul.gameMenu, .exitMenu ul {
    padding: 5px 0 5px 0;
}

.gameMenu li, .exitMenu li {
    text-align: center;
}

.gameMenu li.active {
    background-color: lightyellow;
}

.gameMenu li.disabled, .exitMenu li.disabled {
	color: gray;
	pointer-events: none;
}

#exitMenuPopup {
    padding-top: 10px;
}

.gameMessageHost {
    flex: 2 0 0;
    margin: 0;
    position: relative;
}

.messageWrapper {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
}

.stakeButtonsHost {
    position: absolute;
    top: -44px;
    height: 45px;
    width: 100%;
}

.stakeButtons {
    height: 100%;
    display: flex;
    background-color: #5a95e2;
    width: 100%;
    font-size: 25px;
}

    .stakeButtons button {
        flex: 1 0 0;
    }

#showChat {
    height: 45px;
    width: 45px;
    flex: 0 0 45px;
    border: 0;
    font-size: 20px;
    color: #FFFFFF;
    right: 0;
    top: 0;
    bottom: 0;
}

#showChat span {
    position: relative;
    bottom: 0;
}

@media screen and (min-width: 800px) {
    .gameMessageHost {
        display: flex;
        flex: 3 0 0;
    }
}

@media screen and (min-width: 1100px) {
    .gameMenuHost {
        display: none;
    }

    .sidecontrol_buttons {
        width: 100%;
    }

    .gameMessageHost {
        flex: 1 0 0;
    }

    .messageWrapper {
        display: none;
    }

    button.standard.imageButton.pauseButton {
        display: flex;
    }

    #gameMenuButton, .gameMenuButton {
        font-size: 26px;
        line-height: 26px;
    }

    .stakeButtonsHost {
        display: none;
    }
}

@media screen and (min-width: 1600px) {
    .pauseButton {
        font-size: 25px;
    }
}