.settingsDialogBody label.settingItem__simple {
	margin-left: 0;
}

.studiaView {
    object-fit: contain;
    display: block;
    width: 200px;
    height: 200px;
	margin: 10px 0;
}

button.delete {
	margin-top: 10px;
	padding: 10px 20px;
}

.settingsDialogBody label.common-label {
	margin: 10px 0;
}

.themeSettingsView {
	select {
		margin-top: 10px;
	}
}