#table {
    flex: 1 0 0;
    margin: 0;
    color: #FFFFFF;
    background: #0A0E30;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
	font-family: Standard;
	font-weight: 500;
}

.tableCaption {
    flex: 0 0 45px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    overflow: hidden;
}

.tableCaptionContent {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tableContent {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
}

#table .pauseLogo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #00000050;
	text-shadow: 2px 2px 0 #000;
    opacity: 0.85;
}

.contentHint {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    background-color: #000451;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

#table .pauseLogo.warning {
	color: darkgray;
	background-color: #000066;
}

    #table .centerBlock {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #table .answerBlock {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-grow: 1;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: rgba(0, 0, 0, 0.333);
    }

    #table .tableText {
        height: 100%;
        width: 100%;
        font-size: 36px;
        text-shadow: 1px 1px 0 #000;
        white-space: pre-line;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    #table .tableText.fadeIn {
        animation: fadeIn 0.2s ease-in forwards;
    }

    @keyframes fadeIn {
        from {
          opacity: 0; /* Start at 0 opacity */
        }
        to {
          opacity: 1; /* End at full opacity */
        }
      }

    .mainContent .tableText {
        padding: 5px;
    }

    #table .tableTextCenter {
        text-align: center;
        justify-content: center;
    }

@keyframes blink {
    from {
        background: transparent;
    }
    to {
        background: lightyellow;
    }
}

#table .roundTable .questHeader.blink {
    animation: blink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: darkblue;
}

#table .specialThemes {
    flex: 0 0 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.commonProgress {
    height: 10px;
}

.commonProgress.captioned {
    margin-top: 32px;
}

.commonProgress .progress-bar {
    background: rgb(255, 188, 62);
    height: 10px;
}

@media screen and (min-width: 1100px) {
    #table .mainContent .tableText {
        padding: 10px;
    }

    .tableCaption {
        font-size: 25px;
        padding: 4px 0;
    }

    .commonProgress.captioned {
        margin-top: 35px;
    }
}

@media screen and (min-width: 1600px) {
    #table .mainContent .tableText {
        padding: 25px;
    }

    .tableCaption {
        font-size: 30px;
        padding: 6px 0;
    }

    .commonProgress.captioned {
        margin-top: 50px;
    }
}
