.ready_button {
	width: calc(100% - 10px);
	height: 100%;
	font-size: 25px;
	padding: 0;
	border-radius: 4px;
	margin: 0 5px;
}

@media screen and (min-width: 1600px) {
	.ready_button {
		font-size: 35px;
	}
}
