.helpDialog {
    background-color: #5A95E2;
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
}

.helpDialog > header {
	background-color: #000451;
}

.helpText {
    margin: 13px 0 13px 13px;
    padding-right: 13px;
    overflow-y: auto;
    scrollbar-width: thin;
	user-select: text;
}

.dialog section header {
    padding-left: 0;
}

.subHeader {
    font-family: SI;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #000;
}

.components {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 2px;
}

@media screen and (min-width: 800px) {
	.helpDialog {
		top: 100px;
		bottom: 100px;
		left: 100px;
		right: 100px;
	}
}
