.avatarArea {
    cursor: pointer;
    margin: 0 10px 0 0;
    border: 2px solid transparent;
	display: flex;
	justify-content: center;
    align-items: center;
	background-color: rgba(0, 0, 0, 0.1);
    width: 124px;
    height: 124px;
    padding: 0;
}

.avatarArea:hover {
    border: 2px solid gray;
}

.avatarArea.unselectable:hover {
    border: 2px solid transparent;
    cursor: initial;
}

.avatarArea .emptyAvatar {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.avatarArea:hover .emptyAvatar {
    background-color: white;
}

.avatarView {
    object-fit: contain;
    display: block;
    width: 120px;
    height: 120px;
}

.avatarSelector {
	display: none;
}