.errorView {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	background-color: transparent;
	color: darkred;
	text-shadow: 0.5px 0.5px 0 rgb(71, 71, 71);
	height: 100%;
}

.errorBox {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	background-color: #5A95E2;
	overflow: hidden;
}

.errorTitle {
	font-size: 23px;
	margin: 40px 40px 10px 40px;
}

.errorBody {
	font-size: 12px;
	white-space: pre-wrap;
	word-break: break-all;	
	overflow-y: auto;
	scrollbar-width: thin;
	margin-right: 20px;	
	user-select: text;
	padding: 0 40px 0 40px;
}

.buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.buttons button {
	flex: 1;
	height: 40px;
	font-size: 15px;
}

@media screen and (min-width: 800px) {
	.buttons button {
		font-size: 20px;
	}
}