.games {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.games_main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.games_main h2 {
	color: #FFFFFF;
	font-family: SI;
	font-weight: normal;
	text-align: center;
	font-size: 24px;
	letter-spacing: 1px;
	margin-right: 50px;
}

.games_controls {
	display: flex;
}

.games_controls input {
	flex: 1;
}

.games_controls button {
	padding: 5px 20px;
	width: initial !important;
}

.games .loadError {
	height: 100%;
}

.searchHint {
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 20px;
	text-shadow: 1px 1px 0 black;
}

.games_main .gamenames {
	flex: 1;
	height: initial;
}

.gameInfoDialog2 {
    background-color: #5A95E2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gameInfoDialog2 h1 {
	margin-bottom: 6px;
}

@media screen and (min-width: 600px) {
	.games {
		width: 500px;
		margin: auto;
	}

	.games_main {
		height: 700px;
		max-height: 100%;
	}
}
