#logon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    margin: auto;
    background-color: #5A95E2;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    border-left-width: 0.5px;
}

#logon .logo {
    width: 100px;
    height: 100px;
    background-image: url('../../assets/images/sigame.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 10px;
}

.logonHost {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.loginUser {
    margin: 10px 10px 5px 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userArea {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.loginOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userArea .languageArea {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px 0 0 0;
}

.userArea .sexArea {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px 0 0 0;
}

    .main .header {
        font-size: 18px;
        text-align: left;
        padding-left: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 12px;
        vertical-align: middle;
    }

    .main h1 {
        font-size: 30pt;
        margin-top: 10pt;
        margin-bottom: 0;
        color: #FFFFFF;
        text-shadow: 1px 1px 0 #000;
    }

    .main p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.login_name {
    display: block;
    font-size: 20px;
    height: 33px;
    margin: 2px 0 0 0;
    width: 100%;
    max-width: 100;
    border: 0;
    padding: 3px 5px;
}

.siAdHost {
    flex: 1 0 0;
    margin: 10px 10px 75px 10px;
    overflow: hidden;
}

.clientLink {
    display: block;
    margin-bottom: 5px;
}

#logonerror {
    width: 100%;
    color: darkred;
}

@media screen and (min-width: 470px) and (min-height: 600px) {
    .main {
        width: 470px;
        height: 560px;
        padding: 10px 0 0 0;
        border: 1px solid #111111;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    #logonButtons {
        left: initial;
        width: auto;
        display: flex;
    }

    #howToPlay, #enter {
        width: auto;
    }

    .siAdHost {
        margin: 10px;
    }
}
