#logon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    margin: auto;
    background-color: #5A95E2;
    height: 100%;
    width: 470px;
    max-width: 100%;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    border-left-width: 0.5px;
}

    .main .header {
        font-size: 18px;
        text-align: left;
        padding-left: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 12px;
        vertical-align: middle;
    }

    .main h1 {
        font-family: SI;
        font-size: 30pt;
        margin-top: 10pt;
        margin-bottom: 0;
        color: #FFE682;
        text-shadow: 1px 1px 0 #000;
    }

    .main p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

#logonerror {
    width: 100%;
    color: darkred;
}

@media screen and (min-width: 470px) and (min-height: 600px) {
    #entername {
        margin: 0 22px;
        width: calc(100% - 44px);
        max-width: calc(100% - 44px);
    }

    .main {
        height: 560px;
        padding: 10px 0 0 0;
        border: 1px solid #111111;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    #logonButtons {
        left: initial;
        width: auto;
        display: flex;
    }

    #howToPlay, #enter {
        width: auto;
    }
}
