#newGameDialog {
    background-color: #5A95E2;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
}

#newGameDialog .settings {
    padding-left: 13px;
    overflow-y: auto;
    scrollbar-width: thin;
}

#newGameDialog p {
    margin-top: 13px;
    font-size: 16px;
    margin-bottom: 8px;
}

#newGameDialog input, #newGameDialog select {
    font-size: 16px;
    max-width: 95%;
    width: 95%;
    padding: 5px 6px;
    background-color: white;
}

.gameType {
    margin-right: 10px;
}

.gameTypeHint {
    font-size: 14px;
}

#newGameDialog .buttonsArea {
    display: flex;
}

#newGameDialog .startGame, #newGameDialog .showSettings {
    font-size: 20px;
    height: 45px;
    flex: 1;
    margin-top: 5px;
}

#newGameDialog .gameCreationError {
    color: darkred;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    width: calc(100% - 10px);
    max-height: 100px;
}

.newGameHeader {
    font-weight: bold;
}

.packageTypeSelector {
    margin-right: 10px;
}

.packageFileBox span {
    margin-left: 10px;
}

.packageSelector input[type='file'] {
    display: none;
}

.packageSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.packageSources li {
    font-size: 18px;
}

.packageName {
    vertical-align: middle;
    margin: 3px 0 0 5px;
    font-size: 18px
}

#newGameDialog .packageFileBox input.selector {
    width: 200px;
    height: 31px;
    font-size: 15px;
    cursor: pointer;
}

.uploadPackagePanel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FFFFFF88;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadPackageMessage {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #98B9FF;
    padding: 20px;
}

.uploadPackagePanel .progress {
    position: static;
    display: block;
    margin-top: 25px;
}

.playersCount {
    vertical-align: bottom;
}

.playersCountTitle {
    width: 70px;
    height: 30px;
    display: inline-block;
}

.playersCountValue {
    width: 20px;
    display: inline-block;
}

.playersBlock {
    margin: 5px 0;
}

.showmanTypeSelector {
    margin-right: 10px;
}

.licenseAgreement {
    margin: 4px;
    font-weight: bolder;
}

@media screen and (min-width: 800px) {
    #newGameDialog input, #newGameDialog select {
        width: 400px;
    }

    #newGameDialog .buttonsArea {
        width: 400px;
        margin-left: auto;
        margin-right: 0;
    }

    .uploadPackageMessage {
        width: 60%;
        padding: 20px 100px;
    }
}

@media screen and (min-width: 1600px) {
    #newGameDialog p {
        margin-top: 18px;
        font-size: 18px;
        margin-bottom: 12px;
    }
}
