#newGameDialog {
    background-color: #5A95E2;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
}

#newGameDialog .settings {
    padding-left: 13px;
    overflow-y: auto;
}

#newGameDialog p {
    margin-top: 15px;
    font-size: 16px;
}

#newGameDialog input, #newGameDialog select {
    font-size: 16px;
    max-width: 95%;
    width: 95%;
    padding: 5px 6px;
    background-color: white;
}

#newGameDialog .buttonsArea {
    display: flex;
}

#newGameDialog .startGame, #newGameDialog .showSettings {
    font-size: 25px;
    height: 45px;
    flex: 1;
    margin-top: 5px;
}

#newGameDialog .gameCreationError {
    color: darkred;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    width: calc(100% - 10px);
    max-height: 100px;
}

.packageTypeSelector {
    margin-right: 10px;
}

.packageFileBox {
    margin-top: 10px;
}

.packageFileBox span {
    margin-left: 10px;
}

.packageFileBox input[type='file'] {
    display: none;
}

#newGameDialog .packageFileBox input.selector {
    width: 100px;
}

.uploadPackagePanel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FFFFFF88;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-flow: column;
    padding: 100px;
}

.uploadPackagePanel .progress {
    position: static;
    display: block;
    margin: 25px;
}

.playersCount {
    vertical-align: bottom;
    margin-left: 10px;
    margin-right: 10px;
}

.playersCountTitle {
    width: 70px;
    display: inline-block;
}

.playersCountValue {
    width: 20px;
    display: inline-block;
}

.playersBlock {
    margin: 5px 0;
}

.showmanTypeSelector {
    margin-right: 10px;
}

@media screen and (min-width: 800px) {
    #newGameDialog input, #newGameDialog select {
        width: 400px;
    }

    #newGameDialog .buttonsArea {
        width: 400px;
        margin-left: auto;
        margin-right: 0;
    }
}
