.onlineView {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}

#gameInfoDialog {
    background-color: #5A95E2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.newGameArea {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (min-width: 800px) {
    .newGameArea {
        right: 300px;
    }
}

@media screen and (min-width: 1100px) {
    .newGameArea {
        right: 400px;
    }
}

@media screen and (min-width: 1600px) {
    .newGameArea {
        right: 600px;
    }
}