.settingsButton {
    display: none;
    font-size: 26px;
    padding: 0 10px;
    border: 0;
    height: 45px;
    width: 45px;
}

@media screen and (min-width: 800px) {
    .settingsButton {
        display: inline-block;
    }
}