.settingsButton {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 35pt;
    font-size: 26px;
    padding: 0 10px;
    border: 0;
}

@media screen and (min-width: 800px) {
    .settingsButton {
        display: inline-block;
    }
}