#siStorageDialog {
	background-color: #000451;
	overflow-y: hidden;
	display: flex;
	flex-flow: column;
	color: white;
}

#siStorageDialog .container {
	padding-left: 13px;
	overflow: auto;
	scrollbar-width: thin;
}

#siStorageDialog li {
	padding: 10px 10px 60px 10px;
	background-color: #5a95e2;
	color: black;
	margin: 3px;
	width: 350px;
	position: relative;
}

#siStorageDialog ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 10px 0;
	display: flex;
	flex-wrap: wrap;
}

#siStorageDialog .storagePackageName {
	font-weight: bold;
	font-size: 20px;
}

#siStorageDialog .breakable {
	word-wrap: break-word;
}

#siStorageDialog .selectButton {
	bottom: 10px;
	position: absolute;
	font-size: 20px;
}

#siStorageDialog .selectButton button {
	padding: 5px 20px;
}

#siStorageDialog .selector {
	width: 300px;
	height: 25px;
}

#siStorageDialog .selectorName {
	width: 130px;
	font-size: 18px;
	display: inline-block;
	margin-top: 5px;
}

#siStorageDialog .selectorGroup {
	white-space: nowrap;
	display: inline-block;
}

#siStorageDialog .textFilter {
	width: 300px;
	height: 25px;
}

#siStorageDialog .selectorDifRel {
	height: 25px;
	width: 80%;
}

#siStorageDialog .selectorDif {
	height: 25px;
	width: calc(20% - 4px);
	margin-left: 4px;
}

#siStorageDialog .selectorSortMode {
	height: 25px;
	width: 50%;
}

#siStorageDialog .selectorSortDir {
	height: 25px;
	width: calc(50% - 4px);
	margin-left: 4px;
}

#siStorageDialog .selectorsGroup {
	white-space: nowrap;
	display: inline-block;
	width: 300px;
}

#siStorageDialog .filters {
	display: flex;
	flex-wrap: wrap;
}

#siStorageDialog .filters > div:not(:last-child) {
	margin-right: 10px;
}

.packagesHeader {
	display: flex;
	align-items: center;
}

#siStorageDialog .loading {
	display: inline-block;
	margin-left: 10px;
}

#siStorageDialog .sistorage_error {
	color: darkred;
	text-align: center;
	display: inline-block;
}

.pagination .header {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	margin: 0px 5px 2px 5px;
}

.page {
	display: inline-block;
	margin: 2px 5px;
	font-size: 23px;
	vertical-align: middle;
}

.page.active {
	font-weight: bold;
}

.page.inactive {
	cursor: pointer;
}

.packageItemHeader {
	font-weight: 500;
}

.packageItemValue {
	display: inline-block;
	margin: 0 2px;
}

.rounds {
	font-size: 14px;
	margin-left: 20px !important;
	list-style-type: disc !important;
}

.roundInfo {
	padding: 0 !important;
}

.roundName {
	font-weight: bold;
}