.chatHost {
    height: 100%;    
    width: 100%;
    position: relative;
}

.logOffButton {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 35pt;
    font-size: 26px;
    padding: 0 10px;
    border: 0;
}

@media screen and (min-width: 800px) {
    .chatHost {
        display: block;
        flex: 0 0 300px;
        width: 300px;
    }

    .logOffButton {
        display: inline-block;
    }
}

@media screen and (min-width: 1100px) {
    .chatHost {
        flex: 0 0 400px;
    }
}

@media screen and (min-width: 1600px) {
    .chatHost {
        flex: 0 0 600px;
    }
}
