.chatHost {
    height: 100%;
    width: 100%;
    position: relative;
}

.playersTitle {
    margin-left: 8px;
    width: 155px;
}

    .playersTitle:hover {
        color: #FFFFFF99;
        border-color: #FFFFFF99;
    }

@media screen and (min-width: 800px) {
    .chatHost {
        display: block;
        flex: 0 0 300px;
        width: 300px;
    }
}

@media screen and (min-width: 1100px) {
    .chatHost {
        flex: 0 0 400px;
    }
}

@media screen and (min-width: 1600px) {
    .chatHost {
        flex: 0 0 550px;
    }
}
