.playersList {
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 0;
    color: white;
}

.playersList li {
    padding: 6px 12px;
}
