.welcomeView {
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	color: #FFFFFF;
	font-family: SI;
	overflow-y: auto;
}

.welcomeView header {
	color: white;
	text-align: center;
}

.welcomeView header h1 {
	font-size: 24px;
}

.serverName {	
	color: #FFFFFF;
}

.welcomeViewActions {
	width: 100%;
	flex: 1;
	font-size: 30px;
	display: flex;
	flex-direction: column;
}

.welcomeViewActions li {
	border: 1px solid #FFFFFF;	
	border-left-width: 0;
	border-right-width: 0;
	text-align: center;
	cursor: pointer;
	margin-top: -1px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 25px;
}

.welcomeViewActions.disconnected li {
	color: gray;
}

.welcomeViewActions li:hover {
	background-color: #98B9FF;
}

@media screen and (min-width: 800px) {
	.welcomeViewActions {
		width: initial;
		height: initial;
		flex: initial;
	}

	.welcomeViewActions li {	
		border-left-width: 1px;
		border-right-width: 1px;
	}
}

@media screen and (min-height: 600px) {
	.welcomeView {
		height: calc(100% - 30px);
		margin-top: 30px;
		justify-content: center;
	}

	.welcomeView header h1 {
		font-size: 36px;
	}

	.welcomeViewActions {
		font-size: 40px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.welcomeViewActions li {
		padding: 15px 50px;
	}
}
