.welcomeView {
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	color: #FFFFFF;
	font-family: SI;
	overflow-y: auto;
	scrollbar-width: thin;
}

.welcomeView header {
	color: white;
	text-align: center;
}

.welcomeView header h1 {
	font-size: 24px;
}

.serverName {
	color: #FFFFFF;
}

.serverLicense {
	margin-left: 10px;
	font-size: 22px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	border: 0;
}

.licenseDialog {
	background-color: #000451;
	overflow-y: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.licenseText {
	display: block;
	padding: 10px;
	height: calc(100% - 50px);
	color: black;
	background-color: #98B9FF;
	font-weight: normal;
	font-size: 18px;
	overflow-y: auto;
	user-select: text;
}

.licenseText header {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}

.welcomeViewActions {
	width: 100%;
	flex: 1;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.welcomeViewActions button {
	margin: 1.5px 0;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
}

@keyframes welcomeRows {
	to {
		transform: translate(0);
	}
}

.welcomeRow {
	animation: welcomeRows;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

.welcomeRow.left {
	transform: translate(-100%);
}

.welcomeRow.right {
	transform: translate(100%);
}

@media screen and (min-width: 800px) {
	.welcomeViewActions {
		width: initial;
		height: initial;
		flex: initial;
		overflow-x: initial;
	}

	.licenseDialog {
		top: 100px;
		bottom: 100px;
		left: 100px;
		right: 100px;
	}
}

@media screen and (min-height: 600px) {
	.welcomeView {
		height: calc(100% - 30px);
		margin-top: 30px;
		justify-content: center;
	}

	.welcomeView header h1 {
		font-size: 36px;
	}

	.welcomeViewActions {
		font-size: 35px;
		margin-top: 30px;
	}

	.welcomeViewActions button {
		padding: 10px 40px;
	}
}

@media screen and (min-height: 800px) {
	.welcomeView {
		height: calc(100% - 40px);
		margin-top: 40px;
	}

	.welcomeView header h1 {
		font-size: 40px;
	}

	.welcomeViewActions {
		font-size: 40px;
		margin-top: 40px;
	}

	.welcomeViewActions button {
		padding: 17px 50px;
	}
}
