.gameState {
	width: 100%;
}

.gameState > header {
	color: white;
	text-align: center;
	background-color: #04071B;
	width: 100%;
	height: 45px;
    flex: 0 0 45px;
	overflow: hidden;
}

.gameState > header h1 {
	font-size: 16px;
	margin: 0;
	display: flex;
	flex-direction: row;
	height: 45px;
	overflow: hidden;
}

.gameState header h1 .left {
	text-align: left;
}

.gameState header h1 .game_progress {
	flex: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}