.gameinfoHost {
    flex: 1;
    overflow: hidden;
}

#gameinfo {
    background-color: #000451;
    height: 100%;
    padding: 20px 0 0 0;
    position: relative;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#gameinfo h1 {
    margin-top: 0;
    font-size: 36px;
    margin-bottom: 0;
    padding-left: 20px;
}

.maininfo {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    padding-left: 20px;
    flex: 1;
    margin-bottom: 20px;
}

.gameinfoHost dt {
    font-size: 14px;
    font-weight: normal;
}

.gameinfoHost dd {
    font-size: 17px;
    font-weight: bold;
    color: rgb(222, 206, 108);
}

.personName {
    margin-right: 7px;
    margin-top: 2px;
    padding: 4px 0px;
    min-height: 32px;
}

#innerinfo dt {
    margin-top: 10px;
}

.gameInfoBlocks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.gameInfoBlock {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.gameInfoBlock span {
    width: 60px;
    display: inline-block;
}

.gameInfoBlock input {
    font-size: 20px;
    width: calc(100% - 30px);
    max-width: initial;
    display: block;
    margin: 5px 15px;
    padding: 2px 5px;
	background: #181B64 !important;
	color: white;
	border: 1px solid #347DFF;
	border-radius: 5px;
}

.joinGameProgress {
    position: absolute;
    display: flex;
    top: 6px;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    animation: fadein 2s;
}

@keyframes fadein {
    from { background-color: transparent; }
    to   { background-color: #00000055; }
}

.joinGameProgress .progress {
    position: static;
}

.actions button.join {
    font-size: 22px;
    line-height: 22px;
    height: 45px;
    padding: 7pt 2px;
    margin: 0 2px;
}

@media screen and (min-width: 800px) {
    .gameInfo_close {
        display: none;
    }

    .gameInfoBlocks {
        display: flex;
        flex-direction: row;
    }

    .gameInfoBlock {
        left: 300px;
        right: 295px;
    }

    .gameInfoBlock input {
        display: inline;
        width: initial; /* Эффект есть */
    }

    .actions {
        left: 300px;
        right: 300px;
        z-index: 0;
    }

    .joinGameProgress {
        top: 0;
    }

    .actions button.join {
        font-size: 20px;
        line-height: 20px;
    }
}

@media screen and (min-width: 1100px) {
    .join {
        font-size: 25px;
        line-height: 25px;
    }
}

@media screen and (min-width: 1600px) {
    .gameinfoHost dt {
        font-size: 18px;
    }

    .gameinfoHost dd {
        font-size: 22px;
    }

    #innerinfo dt {
        margin-top: 20px;
    }

    .actions button.join {
        font-size: 24px;
        line-height: 24px;
    }
}