.table-content-group {
	display: grid;
	gap: 7px;
	overflow: hidden;
    width: 100%;
}

.table-content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.optionsLayout {
    width: 100%;
    height: 100%;
    display: flex;
	flex-direction: row;
	overflow: hidden;
}

.optionsLayoutStacked {
    width: 100%;
    height: 100%;
    display: flex;
	flex-direction: column;
	overflow: hidden;
}

.optionsLayout > div,
.optionsLayoutStacked > div {
	overflow: hidden;
}

.mainContent {
	height: 100%;
	flex: 3 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.clef {
    font-family: 'Clefs';
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 0 #000;
    font-size: 120px;
}