.table-content-group {
	width: 100%;
	height: 100%;
	display: grid;
	gap: 7px;
	overflow: hidden;
}

.table-content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}