.packageView__question__background {
	height: 40px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.packageView__question__replic {
	background-color: #777777;
	margin-top: 10px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.packageView__question__duration__item {
	display: flex;
	flex-direction: column;
}

.packageView__question__content__item__group {
	overflow: hidden;
	display: grid;
	gap: 7px;
}

.packageView__question__content__item {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}