.chatLog {
    overflow-y: auto;
    user-select: text;
    scrollbar-width: thin;
}

.chatLog span {
    display: block;
    overflow: hidden;
    margin-top: 4px;
    margin-bottom: 4px;
}

.chatLog span.system {
    font-style: italic;
}

.chatLog span.warning {
    color: darkred;
}

.mentioned {
    background: rgba(255,255,255,0.15);
}

.nickname {
    cursor: pointer;
}

.mentionedNickname {
    color: yellow;
}
