.progress {
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 0;
    background-color: lightgray;
    overflow: hidden;
    z-index: 2;
}

.progress.indeterminate {
    background-color: darkblue;
}

.progress-bar {
    background-color: #183CF3;
    background: linear-gradient(to right, darkblue, #183CF3, darkblue);
    height: 5px;
}

.progress.indeterminate .progress-bar {
    animation: moveLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    width: 100px;
}

@keyframes widthZero {
	100% { width: 0; }
}

@keyframes moveLeft {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
