.nameInput--auth {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    cursor: default;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 8px rgba(52, 125, 255, 0.6);
}