.chatBodyHost {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat {
    flex: 1;
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 7px 7px 7px 12px;
}

.chat_bottom {
    flex: 45px 0 0;
    display: flex;
}

.chatHost .message {
    flex: 1;
    background-color: #C0CFF4;
    font-size: 16px;
    padding-left: 5px;
    outline: none;
    border: none;
}

.chatHost .message.disconnected {
    color: gray;
}
