.validationArea {
	background-color: #0A0E30;
	color: white;
}

.singleAnswer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 60px;
	padding: 4px;
	color: lightgray;
}