@font-face {
    font-family: SI;
    src: url('../assets/fonts/FuturaC.eot');
    src: local('вє'), url('../assets/fonts/FuturaC.woff') format('woff'), url('../assets/fonts/FuturaC.ttf') format('truetype'), url('../assets/fonts/FuturaC.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clefs';
    src: url('../assets/fonts/Clefs.eot');
    src: url('../assets/fonts/Clefs.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Clefs.woff') format('woff'), url('../assets/fonts/Clefs.ttf') format('truetype'), url('../assets/fonts/Clefs.svg#Clefs') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body { height:100%; }

body {
    background-color: #000451;
    background: linear-gradient(to bottom, #000451 0%,#183CF3 50%,#000451 100%);
    background-image: url('../assets/images/main_background.png');
    background-size: cover;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    line-height: 1.42857143;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#reactHost {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

dl {
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.428571429;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    line-height: inherit;
}

textarea {
    resize: none;
}

input:focus, textarea:focus, button:focus {    
    outline: none;
}

input[type='password'], input[type='search'], input[type='text'] {
    background: #d9e3f9;
    border-width: 1px;
}

h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 39px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #a8acfd;
    cursor: pointer;
    transition: background-color 1s;
}

::-webkit-scrollbar-thumb:hover {
    background: #d2e1ff;
    background: linear-gradient(0deg, #a8acfd 0%, #d2e1ff 50%, #a8acfd 100%);
}

.gameHost {
    height: 100%;
}

#entermain {
    margin-left: 16pt;
    text-align: center;
}

#logonButtons {
    font-size: 25px;
    width: 100%;
    display: flex;
}

#logonButtons button {
    flex: 1 0 0;
}

#howToPlay, #enter {
    height: 45px;
    padding: 5px 40px;
    width: 100%;
}

.sexLogin {
    text-align: left;
    margin-top: -5px;
}

    .sexLogin input {
        margin-left: 22px;
        margin-right: 5px;
        vertical-align: middle;
    }

    .sexLogin label {
        font-size: 14px;
        font-weight: normal;
        margin-top: 2px;
        margin-bottom: 0;
    }

.gamesblock header {
    height: 35pt;
}

button {
    color: #FFFFFF;
    background-color: transparent;
    border: 0;
    padding: 5px 10px 6px 7px; 
    font-family: SI;
    text-shadow: 1px 1px 0 #000;
    font-size: inherit;
    cursor: pointer;
    transition: all 1s;
}

button.standard {
    background-color: #2c7be1;
}

button:hover, button.standard:hover {
    background-color: #98B9FF;
}

button:active, button.standard:active {
    background-color: #FFFFFF;
    transition: initial;
}

button:disabled, button.standard:disabled {
    color: darkgray;
    border-color: darkgray;
    background-color: transparent;
}

.closeButton {
    padding: 4px;
    width: 30px;
    height: 30px;
    border-width: 0;
    position: absolute;
    right: 15px;
    top: 15px;
}

#innerinfo {
    font-size: 11pt;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#gameName {
    height: 55px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 50px;
}

#actionsHost {
    display: flex;
}

.actions button {
    margin: 0;
    display: inline;
    flex: 1 0 0;
}

.join {
    font-size: 18pt;
    line-height: 18pt;
    padding: 7pt 2px;
    margin: 0;
    margin-left: -1px;
}

.cannotConnect {
    color: darkred;
    text-align: center;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
}

    .cannotConnect span {
        line-height: normal;
        display: block;
        margin: 0 3px;
    }

.tabHeader h1 {
    display: inline-block;
    font-family: SI;
    font-size: 26px;
    line-height: 24pt;
    border-bottom: 2px solid #FFFFFF66;
    margin: 6px 0px 7px 5px;
    color: #FFFFFF66;
    text-shadow: 1px 1px 0 #000;
    cursor: pointer;
}

#extraMenu {
    top: 35pt;
    right: 0;
}

h1.activeTab {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

    .tabHeader h1:hover {
        color: #FFFFFF99;
        border-color: #FFFFFF99;
    }

.chatBody {
    height: calc(100% - 35pt);
    position: relative;
}

.chat span {
    display: block;
    word-wrap: break-word;
}

#chatHostTitle {
    padding-top: 2px;
    display: flex;
}

#gamesList, #game {
    position: absolute;
    height: 100%;
    width: 100%;
}

#rules, #started, #showman, #players, #viewers {
    min-height: 20px;
}

#name {
    margin-left: 5px;
}

.game__utilsArea {
    display: flex;
    flex-direction: row;
    flex: 0 0 90px;
    position: relative;
}

#gameLogHost {
    background-color: #5A95E2;
    flex: 0 0 130px;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

#playerButtonHost {
    height: 100%;
}

.sideArea {
    flex: 1 0 0;
    display: flex;
}

.game__chat {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.game__log {
    overflow-y: auto;
    height: 100%;
    flex: 1 0 0;
    border-top: 1px solid lightyellow;
    flex: 1 0 0;
}

#game__playerButton {
    height: 45px;
    margin-right: -1px;
    position: relative;
}

.game__persons {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

showman, player, viewer {
    font-weight: bold;
    margin-right: 5px;
}

showman::after, player::after, viewer::after {
    content: ": "
}

#showChat {
    position: absolute;
    height: 45px;
    width: 45px;
    border: 0;
    font-size: 20px;
    color: #FFFFFF;
    right: 0;
    top: 0;
    bottom: 0;
}

#showChat span {
    position: relative;
    bottom: 0;
}

.gameInputBox {
    max-width: none;
    width: 100%;
    margin: 0;
    height: 45px;
    top: 0;
    border: 0;
    border-top: 1px solid gray;
    font-size: 14pt;
    padding-left: 10px;
    padding-right: 47px;
    box-sizing: border-box;
    pointer-events: initial;
}

.gameMessage {
    background-color: #C0CFF4;
}

#answerBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightyellow;
}

.playerButtonWrapper {
    flex: 1 0 0;
    position: relative;
}

#managedPersons {
    width: 100%;
}

.inGameImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

video, audio {
    margin: 10px 0;
    max-width: 480px;
    width: calc(100% - 20px);
}

.mainNav {
    top: 47px;
    left: 0;
}

.buttonsPanel {
    height: 45px;
    flex: 0 0 45px;
    display: flex;
    width: 100%;
}

    .buttonsPanel button {
        flex: 1 0 0;
        font-size: 25px;
    }

@keyframes spinner {
    from {
        transform: rotateY(-90deg);
    }

    to {
        transform: rotateY(90deg);
    }
}

.clef {
    font-family: 'Clefs';
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #000;
    font-size: 120px;
}

.rotate {
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.siAdHost {
    flex: 1 0 0;
    margin: 10px;
    overflow: hidden;
}

#lastReplic {
    position: absolute;
    top: -65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ffffe0;
    border-top: 1px solid gray;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1.0);
    overflow: hidden;
    padding: 2px 6px;
    opacity: 0.7;
}

.stakeSum {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: #c0cff4;
    border: 1px solid yellow;
    font-size: 24px;
}

.stakeRangeHost {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 10px;
    right: 10px;
    background-color: #c0cff4;
    width: calc(100% - 20px);
}

.stakeRange {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

#stakeButtonsHost {
    position: absolute;
    top: -44px;
    height: 45px;
    width: 100%;
}

#stakeButtons {
    height: 100%;
    display: flex;
    background-color: #5a95e2;
    width: 100%;
    font-size: 25px;
}

    #stakeButtons button, .wideStakeHost button {
        flex: 1 0 0;
    }

.wideStakeHost {
    position: absolute;
    background-color: #5a95e2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

    .wideStakeHost button {
        font-size: 25px;
    }

.wideStakeHost__number {
    flex: 0 0 80px;
    font-size: 24px;
    text-align: center;
}

.wideStakeHost__range {
    flex: 3 0 0;
    margin: 0 10px;
    max-width: 100%;
}

.answerForWide {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.answerForWide input {
    background-color: lightyellow;
}

.wide {
    display: none;
}

.commandButton {
    height: 45px;
    font-size: 19pt;
}

.bottomButton {
    margin-bottom: -1px;
}

.gameHeader {
    padding-left: 10px;
    height: 50px;
}

@media screen and (min-width: 800px) {
    .game__utilsArea {
        flex: 0 0 45px;
    }

    #gamesTitle, #chatHostTitle {
        padding-left: 0;
    }

    #nav {
        display: none;   
    }

    .cannotConnect span {
        display: inline-block;
    }
}

@media screen and (min-width: 1100px) {
    .actions {
        left: 400px;
        right: 400px;
    }

    .gameMain {
        flex-direction: row;
    }

    .game__mainArea {
        flex: 1 0 0;
    }

    #gameLogHost {
        flex: 1 0 0;
    }

    #playerButtonHost {
        display: none;
    }

    .playerButtonWrapper {
        flex: 0 0 0;
    }

    .answerForWide {
        display: initial;
    }

    .wide {
        display: initial;
    }

    #stakeButtonsHost {
        display: none;
    }
}