@use "../../../scss/variables" as v;

#table .roundTable {
	text-shadow: 1px 1px 0 #000;
	width: 100%;
	height: 100%;
	padding: 2px 0;
	display: flex;
	flex-direction: column;
	margin: 0;
	text-align: center;
	overflow: hidden;
}

@keyframes roundRows {
	to {
		transform: translate(0);
	}
}

#table .roundTable .roundTableRow {
	flex: 1 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 2px 0;

	animation: roundRows;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

#table .roundTable .roundTableRow.left {
	transform: translate(-100%);
}

	#table .roundTable .roundTableRow.right {
		transform: translate(100%);
	}

#table .roundTable .roundTableCell {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	margin: 2px;
	transition: background-color 1s, transform 0.2s;
	overflow: hidden;
	border: 2px solid transparent;
}

#table .roundTable .roundTableCell div {
	padding: 10%;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#table .roundTable .themeHeader {
	flex: 0 0 40%;
	background: #0A0E30;
	margin: 2px;
	padding: 3px;
	border: 2px solid #14183E;
}

#table .roundTable .questHeader {
	flex: 1 0 0;
}

#table .roundTable .questHeader.active {
	background: v.$table-cell-background-color;
	border-color: v.$table-cell-border-color;
}

#table .roundTable.selectable .questHeader.active {
	cursor: pointer;
}

#table .roundTable.selectable .questHeader.active:hover {
	background: v.$table-cell-active-background-color;
}

#table .roundTable.selectable .questHeader.active:active {
	transform: scale(0.9,0.9);
}

#table .roundTable .questHeader.editable {
	cursor: pointer;
}

#table .roundTable .questHeader.editable:hover {
	background: v.$accept-button-background;
}

#table .roundTable .questHeader.editable.active:hover {
	background: v.$reject-button-background;
}

@media screen and (min-width: 1100px) {
	#table .roundTable .themeHeader {
		padding: 6px;
	}
}

@media screen and (min-width: 1600px) {
	#table .roundTable .themeHeader {
		padding: 12px;
	}
}