.newGame {
    display: block;
    width: 100%;
    max-width: none;
    height: 45px;
    font-size: 25px;
    line-height: 25px;
    border-left: 0;
    border-right: 0;
    bottom: 0;
	flex: 0 0 300px;
	margin-left: 5px;

    &.simple {
        font-size: 35px;
        font-weight: bold;
    }
}