$background-color: #000451;

$header-background-color: #04071B;

$highlighted-text-color: #6484d4;

$table-cell-background-color: linear-gradient(180deg, #0737B8 0%, #0F2078 100%);
$table-cell-border-color: #0D40CD;