$background-color: #000451;

$header-background-color: #04071B;

$highlighted-text-color: #7da2ff;

$table-cell-background-color: linear-gradient(180deg, #0737B8 0%, #0F2078 100%);
$table-cell-border-color: #0D40CD;
$table-cell-active-background-color: linear-gradient(180deg, #ece8a4 0%, #b6aa43 100%);

$table-cell-selectable-background-color: #3a53d3;

$active-button-background: linear-gradient(360deg, #C73B1C 0%, #e26f1d 100%);

$accept-button-background: linear-gradient(180deg, #27CB5C 0%, #0f8735 100%);
$reject-button-background: linear-gradient(180deg, #ce2013 0%, #770e06 100%);

$cancel-button-background: linear-gradient(360deg, rgba(165,165,165,1) 0%, rgba(128,128,128,1) 100%);
$cancel-hover-button-background: linear-gradient(360deg, rgba(225,225,225,1) 0%, rgba(200,200,200,1) 100%);

$input-border: 3px solid #FF7C1E;

$person-background: #161a3996;
$person-background-pass: #808080ce;

$me-color: #2E68FF;