@use '../../../scss/variables' as v;

.showmanArea {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row !important;
    align-items: stretch !important;
}

.showmanArea.highlighted .showmanReplic {
    background: v.$active-button-background;
}

.showmanInfo {
    position: relative;
    display: none;
    flex-flow: column;
    flex: 0 0 120px;
    padding: 10px;
    padding: 10px 7px 7px 7px;
    justify-content: center;
    background-color: transparent;
}

.showmanAvatar {
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: center;
    background-size: contain !important;
    position: relative;
}

.showmanAvatar iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.showmanAvatar img {
    height: 100%;
}

.showmanName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bolder;
}

.showmanName .me {
    color: v.$me-color;
}

.showmanAvatar,
.showmanName {
    width: 120px;
}

@media screen and (min-width: 1100px) {
    .showmanArea {
        flex-direction: column-reverse !important;
        margin: 10px 0 0 0;
        height: 85%;
        width: calc(100% - 20px);
    }

    .showmanInfo {
        display: flex;
        flex: 1;
        background: v.$person-background;
        border: 1px solid #222084;
        border-radius: 10px;
        margin: 5px;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

    .showmanName {
        font-size: 20px;
        width: initial;
        padding-top: 5px;
    }

    .showmanAvatar {
        padding: 0 45px;
        width: initial;
    }

    .showmanAvatar img {
        width: 100%;
        max-height: 190px;
    }
}

@media screen and (min-width: 1600px) {
    .showmanAvatar img {
        max-height: 290px;
    }

    .showmanName {
        font-size: 25px;
        padding-top: 10px;
    }
}