@use "../../../scss/variables" as v;

#table .finalTable {
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    width: 100%;
    text-shadow: 1px 1px 0 #000;
}

#table .finalTableCell {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7px;
    flex: 1 0 0;
    overflow: hidden;
	border: 2px solid transparent;
}

    #table .finalTableCell.blink {
        animation: blink;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        color: darkblue;
    }

    #table .finalTable .finalTableCell.active {
		background: v.$table-cell-background-color;
		border-color: v.$table-cell-border-color;
    }

#table .finalTable.selectable .finalTableCell.active {
    background: v.$table-cell-selectable-background-color;
    cursor: pointer;
}

#table .finalTable.selectable .finalTableCell.active:hover {
    background: v.$table-cell-active-background-color;
}
