#settingsDialog {
    background-color: #5A95E2;
    z-index: 2;
}

.settingsDialogBody {
	padding: 20px;
	font-size: 20px;
}

.settingsDialogBody input[type=checkbox] {
    transform: scale(1.5);
}

.settingsDialogBody label {
	margin-left: 10px;
    vertical-align: text-bottom;
    cursor: pointer;
}

#settingsDialog h2 {
    font-family: SI;
    color: #FFE682;
    text-shadow: 1px 1px 0 #000;
    font-weight: normal;
    font-size: 30px;
    margin: 20px 0 5px 0;
}

.settingItem {
    margin-top: 10px;
}

#settingsDialog .hint {
    font-size: 15px;
    display: block;
}

#settingsDialog .reset {
    font-size: 25px;
    margin: 20px 0 0 0;
    padding: 5px 25px;
}

@media screen and (min-width: 800px) {
    #settingsDialog {
        width: 300px;
        left: initial;
        border-left: 1px solid #FFE682;
    }
}

@media screen and (min-width: 1100px) {
    #settingsDialog {
        width: 400px;
    }
}

@media screen and (min-width: 1600px) {
    #settingsDialog {
        width: 600px;
    }
}
