#settingsDialog {
    background-color: #5A95E2;
    z-index: 2;
}

.settingsDialogBody {
	padding: 20px;
	font-size: 20px;
}

.settingsDialogBody input[type=checkbox] {
    transform: scale(1.5);
}

.settingsDialogBody label {
	margin-left: 10px;
    vertical-align: text-bottom;
    cursor: pointer;
}

#settingsDialog h2 {
    font-family: SI;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #000;
    font-weight: normal;
    font-size: 30px;
    margin: 20px 0 5px 0;
}

.settingItem {
    margin-top: 10px;
}

.settingItem > input[type="range"] {
   width: 200px;
}

#settingsDialog .hint {
    font-size: 15px;
    display: block;
}

#settingsDialog .reset {
    font-size: 25px;
    margin: 20px 0 0 0;
    padding: 5px 25px;
}

#settingsDialog .rangeEditor {
	vertical-align: middle;
	margin-right: 10px;
	width: 200px;
}

#settingsDialog .valueEditor {
	vertical-align: middle;
	margin-right: 5px;
	font-size: 20px;
}

.avatarView {
    max-width: 100%;
    height: 150px;
    display: block;
}

.emptyAvatar {
    width: 150px;
    height: 150px;
    background-color: lightgray;
}

.avatarLoadHelper {
    height: 40px;
    margin-top: 10px;
    position: relative;
}

.avatarLoadingHost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatarLoadingMessage {
    font-size: 14px;
    margin-top: 5px;
}

.avatarLoadError {
    color: darkred;
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 800px) {
    #settingsDialog {
        width: 300px;
        left: initial;
        border-left: 1px solid #FFFFFF;
    }
}

@media screen and (min-width: 1100px) {
    #settingsDialog {
        width: 400px;
    }
}

@media screen and (min-width: 1600px) {
    #settingsDialog {
        width: 600px;
    }
}
