.timeSettingItem.block {
	height: 130px;
}

.timeSettingItem .blockName {
    flex: 0 0 150px;
}

.timeSettingItem .timeRange {
	vertical-align: middle;
	margin-right: 10px;
	flex: 1;
}

.timeSettingItem .timeValue {
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 16px;
	width: 60px;
}

@media screen and (min-width: 800px) {
	.timeSettingItem.block {
		height: 54px;
	}

	.timeSettingItem .blockName {
		flex: 0 0 350px;
	}
}