#table {
    flex: 1 0 0;
    margin: 0;
    background-color: #000451;
    background: radial-gradient(#0009AD, #000451);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.tableCaption {
    flex: 0;
    font-size: 22px;
    font-family: SI;
    background-color: rgba(0,0,0,.3);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
}

.tableContent {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
}

#table .pauseLogo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000000CC;
	text-shadow: 2px 2px 0 #000;
}

#table .pauseLogo.warning {
	color: darkgray;
}

    #table .centerBlock {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #table .answerBlock {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-grow: 1;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: rgba(0, 0, 0, 0.333);
    }

    #table .tableText {
        height: 100%;
        width: 100%;
        font-family: SI;
        font-size: 36px;
        color: #FFFFFF;
        text-shadow: 1px 1px 0 #000;
        padding: 15px;
        white-space: pre-line;
        display: flex;
        align-items: center;
    }

    #table .tableTextCenter {
        text-align: center;
        justify-content: center;
    }

    #table .tableGameThemes {
        width: 100%;
        text-align: center;
        font-family: SI;
        color: #FFFFFF;
        text-shadow: 1px 1px 0 #000;
        font-size: 36px;
        position: absolute;
        top: 100%;
        transition: top linear 10s;
    }

    #table .scaleText {
        transform: scale(0);
        transition: transform .2s linear;
        width: 100%;
        height: 100%;
    }

@keyframes blink {
    from {
        background: transparent;
    }
    to {
        background: lightyellow;
    }
}

#table .roundTable .questHeader.blink {
    animation: blink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: darkblue;
}

#table .specialTable {
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #000;
    font-family: SI;
    width: calc(100% + 1px);
    height: calc(100% + 2px);
    display: flex;
    flex-direction: row;
    margin: 0 -1px -1px 0;
    text-align: center;
}

#table .specialThemes {
    flex: 0 0 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#table .specialTheme {
    flex: 1 0 0;
    border: 1px solid #FFFFFF;
    margin: -1px 0 0 -1px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

    #table .specialTheme.active {
        background: lightyellow;
        color: darkblue;
    }

#table .specialHost {
    flex: 1 0 0;
    padding: 10px;
}

#table .finalTable {
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    width: 100%;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #000;
    font-family: SI;
}

#table .finalTableCell {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    flex: 1 0 0;
}

    #table .finalTableCell.blink {
        animation: blink;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        color: darkblue;
    }

    #table .finalTable .finalTableCell.active {
        background-color: rgba(0,0,0,0.3);
    }

#table .finalTable.selectable .finalTableCell.active:hover {
    background: rgb(189, 189, 166);
    cursor: pointer;
}

.commonProgress {
    height: 10px;
}

.commonProgress.captioned {
    margin-top: 28px;
}

.commonProgress .progress-bar {
    background: rgb(255, 188, 62);
    height: 10px;
}

@media screen and (min-width: 1100px) {
    #table .tableText {
        padding: 40px;
    }

    .tableCaption {
        font-size: 25px;
    }

    .commonProgress.captioned {
        margin-top: 35px;
    }
}
