.pointsOverlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	pointer-events: none;
}

.pointsOverlay--interactive {
	cursor: none;
	pointer-events: auto;
}

.pointsOverlay__svg {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.pointsOverlay__label {
	font-size: 12px;
	font-weight: bold;
	text-anchor: middle;
	paint-order: stroke;
	stroke: rgba(0, 0, 0, 0.7);
	stroke-width: 3px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	fill: white;
}
